body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:699px;
}
#u6745 {
  position:absolute;
  left:100px;
  top:115px;
  width:375px;
  height:699px;
}
#u6746 {
  position:absolute;
  left:2px;
  top:342px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:729px;
}
#u6747 {
  position:absolute;
  left:1215px;
  top:100px;
  width:375px;
  height:729px;
}
#u6748 {
  position:absolute;
  left:2px;
  top:356px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:662px;
}
#u6749 {
  position:absolute;
  left:659px;
  top:100px;
  width:375px;
  height:662px;
}
#u6750 {
  position:absolute;
  left:2px;
  top:323px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
