body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3339 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:792px;
}
#u3340 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3342 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:788px;
}
#u3343 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3344 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:640px;
}
#u3345 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3346 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u3347 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3348 {
  position:absolute;
  left:204px;
  top:842px;
  width:168px;
  height:10px;
}
#u3349 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3351 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:24px;
}
#u3352 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u3353 {
  position:absolute;
  left:360px;
  top:178px;
  width:100px;
  height:13px;
}
#u3354 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3355 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3356 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u3357 {
  position:absolute;
  left:108px;
  top:196px;
  width:360px;
  height:56px;
}
#u3358 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u3359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3359 {
  position:absolute;
  left:108px;
  top:196px;
  width:104px;
  height:56px;
}
#u3359_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3359.mouseDown {
}
#u3360 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u3361 {
  position:absolute;
  left:158px;
  top:206px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u3362 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  word-wrap:break-word;
}
#u3363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3363 {
  position:absolute;
  left:118px;
  top:206px;
  width:40px;
  height:40px;
}
#u3364 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:455px;
}
#u3365 {
  position:absolute;
  left:125px;
  top:252px;
  width:326px;
  height:455px;
}
#u3366 {
  position:absolute;
  left:2px;
  top:220px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3367 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:95px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3368 {
  position:absolute;
  left:116px;
  top:707px;
  width:344px;
  height:95px;
}
#u3369 {
  position:absolute;
  left:2px;
  top:40px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u3370 {
  position:absolute;
  left:133px;
  top:727px;
  width:55px;
  height:55px;
}
#u3371 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u3372 {
  position:absolute;
  left:198px;
  top:734px;
  width:141px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u3373 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u3374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u3374 {
  position:absolute;
  left:198px;
  top:760px;
  width:211px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u3375 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u3376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3376 {
  position:absolute;
  left:108px;
  top:252px;
  width:360px;
  height:41px;
}
#u3377 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u3378 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3379 {
  position:absolute;
  left:112px;
  top:262px;
  width:30px;
  height:30px;
}
#u3380 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3382 {
  position:absolute;
  left:145px;
  top:262px;
  width:30px;
  height:30px;
  opacity:0.4;
}
#u3383 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3384 {
  position:absolute;
  left:148px;
  top:270px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u3385 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
