body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7182 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u7183 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7184 {
  position:absolute;
  left:601px;
  top:100px;
  width:375px;
  height:667px;
}
#u7185 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7186 {
  position:absolute;
  left:1102px;
  top:100px;
  width:375px;
  height:667px;
}
#u7187 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7188 {
  position:absolute;
  left:1603px;
  top:100px;
  width:375px;
  height:667px;
}
#u7189 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:57px;
}
#u7190 {
  position:absolute;
  left:454px;
  top:684px;
  width:176px;
  height:57px;
}
#u7191 {
  position:absolute;
  left:2px;
  top:20px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
