body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:905px;
}
#u1058 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:905px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:444px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060 {
  position:absolute;
  left:455px;
  top:233px;
  width:0px;
  height:0px;
}
#u1060_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1060_seg1 {
  position:absolute;
  left:-4px;
  top:53px;
  width:138px;
  height:8px;
}
#u1060_seg2 {
  position:absolute;
  left:126px;
  top:33px;
  width:8px;
  height:28px;
}
#u1060_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1060_seg4 {
  position:absolute;
  left:120px;
  top:24px;
  width:20px;
  height:20px;
}
#u1061 {
  position:absolute;
  left:-2px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1063 {
  position:absolute;
  left:584px;
  top:259px;
  width:137px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1064 {
  position:absolute;
  left:5px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1065 {
  position:absolute;
  left:584px;
  top:259px;
  width:1px;
  height:14px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1067 {
  position:absolute;
  left:757px;
  top:100px;
  width:375px;
  height:667px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069 {
  position:absolute;
  left:1091px;
  top:249px;
  width:0px;
  height:0px;
}
#u1069_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u1069_seg1 {
  position:absolute;
  left:105px;
  top:-4px;
  width:8px;
  height:19px;
}
#u1069_seg2 {
  position:absolute;
  left:105px;
  top:7px;
  width:26px;
  height:8px;
}
#u1069_seg3 {
  position:absolute;
  left:123px;
  top:-7px;
  width:8px;
  height:22px;
}
#u1069_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1069_seg5 {
  position:absolute;
  left:117px;
  top:-16px;
  width:20px;
  height:20px;
}
#u1070 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1072 {
  position:absolute;
  left:1217px;
  top:235px;
  width:137px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1073 {
  position:absolute;
  left:5px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1074 {
  position:absolute;
  left:1217px;
  top:235px;
  width:1px;
  height:14px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076 {
  position:absolute;
  left:954px;
  top:749px;
  width:0px;
  height:0px;
}
#u1076_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:268px;
  height:8px;
}
#u1076_seg1 {
  position:absolute;
  left:260px;
  top:-102px;
  width:8px;
  height:106px;
}
#u1076_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1076_seg3 {
  position:absolute;
  left:254px;
  top:-111px;
  width:20px;
  height:20px;
}
#u1077 {
  position:absolute;
  left:133px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1079 {
  position:absolute;
  left:1217px;
  top:640px;
  width:193px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1080 {
  position:absolute;
  left:5px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1081 {
  position:absolute;
  left:1217px;
  top:640px;
  width:1px;
  height:14px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
