body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3374 {
  position:absolute;
  left:800px;
  top:100px;
  width:376px;
  height:792px;
}
#u3375 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3377 {
  position:absolute;
  left:802px;
  top:102px;
  width:372px;
  height:788px;
}
#u3378 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3379 {
  position:absolute;
  left:808px;
  top:172px;
  width:360px;
  height:640px;
}
#u3380 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3381 {
  position:absolute;
  left:904px;
  top:130px;
  width:168px;
  height:10px;
}
#u3382 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3383 {
  position:absolute;
  left:904px;
  top:842px;
  width:168px;
  height:10px;
}
#u3384 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3386 {
  position:absolute;
  left:808px;
  top:172px;
  width:360px;
  height:24px;
}
#u3387 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u3388 {
  position:absolute;
  left:1060px;
  top:178px;
  width:100px;
  height:13px;
}
#u3389 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3390 {
  position:absolute;
  left:814px;
  top:210px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u3393 {
  position:absolute;
  left:808px;
  top:196px;
  width:360px;
  height:56px;
}
#u3394 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u3395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3395 {
  position:absolute;
  left:808px;
  top:204px;
  width:40px;
  height:40px;
}
#u3396 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3397 {
  position:absolute;
  left:854px;
  top:214px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3398 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3399 {
  position:absolute;
  left:808px;
  top:196px;
  width:104px;
  height:56px;
}
#u3399_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3399.mouseDown {
}
#u3400 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:304px;
}
#u3401 {
  position:absolute;
  left:817px;
  top:262px;
  width:343px;
  height:303px;
}
#u3402 {
  position:absolute;
  left:2px;
  top:144px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3403 {
  position:absolute;
  left:972px;
  top:575px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3404 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u3405 {
  position:absolute;
  left:831px;
  top:274px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u3406 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u3407 {
  position:absolute;
  left:1095px;
  top:274px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u3408 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:196px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u3409 {
  position:absolute;
  left:816px;
  top:604px;
  width:344px;
  height:196px;
}
#u3410 {
  position:absolute;
  left:2px;
  top:90px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3411 {
  position:absolute;
  left:831px;
  top:626px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3412 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3413 {
  position:absolute;
  left:1093px;
  top:626px;
  width:58px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3414 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u3415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3415 {
  position:absolute;
  left:970px;
  top:655px;
  width:181px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3416 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u3417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u3417 {
  position:absolute;
  left:816px;
  top:684px;
  width:344px;
  height:1px;
}
#u3418 {
  position:absolute;
  left:2px;
  top:-8px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3419 {
  position:absolute;
  left:831px;
  top:695px;
  width:145px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3420 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3421 {
  position:absolute;
  left:1093px;
  top:695px;
  width:58px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3422 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u3423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3423 {
  position:absolute;
  left:970px;
  top:724px;
  width:181px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u3424 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u3425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u3425 {
  position:absolute;
  left:816px;
  top:753px;
  width:344px;
  height:1px;
}
#u3426 {
  position:absolute;
  left:2px;
  top:-8px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3427 {
  position:absolute;
  left:1065px;
  top:390px;
  width:0px;
  height:0px;
}
#u3427_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:172px;
  height:8px;
}
#u3427_seg1 {
  position:absolute;
  left:164px;
  top:-39px;
  width:8px;
  height:43px;
}
#u3427_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3427_seg3 {
  position:absolute;
  left:158px;
  top:-48px;
  width:20px;
  height:20px;
}
#u3428 {
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3430 {
  position:absolute;
  left:1232px;
  top:344px;
  width:137px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3431 {
  position:absolute;
  left:5px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3432_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u3432 {
  position:absolute;
  left:1232px;
  top:344px;
  width:2px;
  height:14px;
}
#u3433 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3434 {
  position:absolute;
  left:813px;
  top:330px;
  width:0px;
  height:0px;
}
#u3434_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:411px;
  height:8px;
}
#u3434_seg1 {
  position:absolute;
  left:403px;
  top:-4px;
  width:8px;
  height:238px;
}
#u3434_seg2 {
  position:absolute;
  left:403px;
  top:226px;
  width:40px;
  height:8px;
}
#u3434_seg3 {
  position:absolute;
  left:435px;
  top:204px;
  width:8px;
  height:30px;
}
#u3434_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3434_seg5 {
  position:absolute;
  left:429px;
  top:195px;
  width:20px;
  height:20px;
}
#u3435 {
  position:absolute;
  left:298px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3437 {
  position:absolute;
  left:1251px;
  top:527px;
  width:235px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3438 {
  position:absolute;
  left:5px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u3439_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u3439 {
  position:absolute;
  left:1251px;
  top:527px;
  width:2px;
  height:14px;
}
#u3440 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:746px;
}
#u3441 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:746px;
}
#u3442 {
  position:absolute;
  left:2px;
  top:365px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
