body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6062 {
  position:absolute;
  left:100px;
  top:62px;
  width:201px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6063 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u6064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6065 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:792px;
}
#u6066 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:983px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6068 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:983px;
}
#u6069 {
  position:absolute;
  left:2px;
  top:484px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:857px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6070 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:857px;
}
#u6071 {
  position:absolute;
  left:2px;
  top:420px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6072 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u6073 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6074 {
  position:absolute;
  left:204px;
  top:1048px;
  width:168px;
  height:10px;
}
#u6075 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6077 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:24px;
}
#u6078 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u6079 {
  position:absolute;
  left:360px;
  top:178px;
  width:100px;
  height:13px;
}
#u6080 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6083 {
  position:absolute;
  left:108px;
  top:196px;
  width:360px;
  height:56px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u6085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6085 {
  position:absolute;
  left:108px;
  top:204px;
  width:40px;
  height:40px;
}
#u6086 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6087 {
  position:absolute;
  left:148px;
  top:214px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6088 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6089 {
  position:absolute;
  left:108px;
  top:196px;
  width:104px;
  height:56px;
}
#u6089_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6089.mouseDown {
}
#u6090 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6091 {
  position:absolute;
  left:108px;
  top:262px;
  width:360px;
  height:56px;
}
#u6092 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6093 {
  position:absolute;
  left:215px;
  top:273px;
  width:35px;
  height:35px;
}
#u6094 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2B2B2C;
}
#u6095 {
  position:absolute;
  left:260px;
  top:278px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2B2B2C;
}
#u6096 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:176px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6099 {
  position:absolute;
  left:113px;
  top:323px;
  width:350px;
  height:176px;
}
#u6100 {
  position:absolute;
  left:2px;
  top:80px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6101 {
  position:absolute;
  left:145px;
  top:329px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6102 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6103 {
  position:absolute;
  left:127px;
  top:329px;
  width:15px;
  height:15px;
}
#u6104 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6105 {
  position:absolute;
  left:127px;
  top:346px;
  width:117px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6106 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u6107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6107 {
  position:absolute;
  left:113px;
  top:371px;
  width:350px;
  height:1px;
}
#u6108 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6109 {
  position:absolute;
  left:385px;
  top:345px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6110 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6111 {
  position:absolute;
  left:113px;
  top:441px;
  width:350px;
  height:1px;
}
#u6112 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u6113 {
  position:absolute;
  left:192px;
  top:382px;
  width:159px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u6114 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u6115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
}
#u6115 {
  position:absolute;
  left:127px;
  top:382px;
  width:55px;
  height:49px;
}
#u6116 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u6117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u6117 {
  position:absolute;
  left:192px;
  top:399px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u6118 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u6119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u6119 {
  position:absolute;
  left:298px;
  top:388px;
  width:55px;
  height:1px;
}
#u6120 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6121 {
  position:absolute;
  left:375px;
  top:382px;
  width:81px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6122 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6123 {
  position:absolute;
  left:438px;
  top:408px;
  width:13px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6124 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6125 {
  position:absolute;
  left:333px;
  top:463px;
  width:123px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6126 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u6127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6127 {
  position:absolute;
  left:108px;
  top:521px;
  width:360px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u6127_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6127.mouseDown {
}
#u6128 {
  position:absolute;
  left:16px;
  top:14px;
  width:342px;
  word-wrap:break-word;
}
#u6129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:179px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6129 {
  position:absolute;
  left:108px;
  top:593px;
  width:360px;
  height:179px;
  font-size:12px;
  text-align:left;
}
#u6129_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:179px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6129.mouseDown {
}
#u6130 {
  position:absolute;
  left:16px;
  top:7px;
  width:342px;
  word-wrap:break-word;
}
#u6131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:12px;
  color:#5E5E5E;
}
#u6131 {
  position:absolute;
  left:416px;
  top:597px;
  width:40px;
  height:20px;
  font-size:12px;
  color:#5E5E5E;
}
#u6131_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:12px;
  color:#5E5E5E;
}
#u6131.mouseDown {
}
#u6132 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u6133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6133 {
  position:absolute;
  left:409px;
  top:531px;
  width:25px;
  height:25px;
}
#u6134 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6135 {
  position:absolute;
  left:384px;
  top:531px;
  width:25px;
  height:25px;
}
#u6136 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u6137 {
  position:absolute;
  left:428px;
  top:531px;
  width:28px;
  height:28px;
}
#u6138 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6139 {
  position:absolute;
  left:359px;
  top:531px;
  width:25px;
  height:25px;
}
#u6140 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6141 {
  position:absolute;
  left:600px;
  top:62px;
  width:249px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6142 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u6143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6144 {
  position:absolute;
  left:600px;
  top:100px;
  width:376px;
  height:792px;
}
#u6145 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:983px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6147 {
  position:absolute;
  left:602px;
  top:102px;
  width:372px;
  height:983px;
}
#u6148 {
  position:absolute;
  left:2px;
  top:484px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:857px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6149 {
  position:absolute;
  left:608px;
  top:172px;
  width:360px;
  height:857px;
}
#u6150 {
  position:absolute;
  left:2px;
  top:420px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6151 {
  position:absolute;
  left:704px;
  top:130px;
  width:168px;
  height:10px;
}
#u6152 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6153 {
  position:absolute;
  left:704px;
  top:1048px;
  width:168px;
  height:10px;
}
#u6154 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6156 {
  position:absolute;
  left:608px;
  top:172px;
  width:360px;
  height:24px;
}
#u6157 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u6158 {
  position:absolute;
  left:860px;
  top:178px;
  width:100px;
  height:13px;
}
#u6159 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6162 {
  position:absolute;
  left:608px;
  top:196px;
  width:360px;
  height:56px;
}
#u6163 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u6164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6164 {
  position:absolute;
  left:608px;
  top:204px;
  width:40px;
  height:40px;
}
#u6165 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6166 {
  position:absolute;
  left:648px;
  top:214px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6167 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6168 {
  position:absolute;
  left:608px;
  top:196px;
  width:104px;
  height:56px;
}
#u6168_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6168.mouseDown {
}
#u6169 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6170 {
  position:absolute;
  left:608px;
  top:262px;
  width:360px;
  height:56px;
}
#u6171 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6172 {
  position:absolute;
  left:735px;
  top:273px;
  width:35px;
  height:35px;
}
#u6173 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2B2B2C;
}
#u6174 {
  position:absolute;
  left:780px;
  top:278px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2B2B2C;
}
#u6175 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:176px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6178 {
  position:absolute;
  left:613px;
  top:327px;
  width:350px;
  height:176px;
}
#u6179 {
  position:absolute;
  left:2px;
  top:80px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6180 {
  position:absolute;
  left:645px;
  top:333px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6181 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6182 {
  position:absolute;
  left:627px;
  top:333px;
  width:15px;
  height:15px;
}
#u6183 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6184 {
  position:absolute;
  left:627px;
  top:350px;
  width:117px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6185 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u6186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6186 {
  position:absolute;
  left:613px;
  top:375px;
  width:350px;
  height:1px;
}
#u6187 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6188 {
  position:absolute;
  left:885px;
  top:347px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6189 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6190 {
  position:absolute;
  left:613px;
  top:445px;
  width:350px;
  height:1px;
}
#u6191 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6192 {
  position:absolute;
  left:692px;
  top:386px;
  width:125px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6193 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u6194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
}
#u6194 {
  position:absolute;
  left:627px;
  top:386px;
  width:55px;
  height:49px;
}
#u6195 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u6196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6196 {
  position:absolute;
  left:875px;
  top:386px;
  width:81px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6197 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6198 {
  position:absolute;
  left:938px;
  top:412px;
  width:13px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6199 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6200 {
  position:absolute;
  left:833px;
  top:467px;
  width:123px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6201 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u6202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:177px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6202 {
  position:absolute;
  left:608px;
  top:516px;
  width:360px;
  height:177px;
  font-size:12px;
  text-align:left;
}
#u6202_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:177px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6202.mouseDown {
}
#u6203 {
  position:absolute;
  left:16px;
  top:6px;
  width:342px;
  word-wrap:break-word;
}
#u6204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:12px;
  color:#5E5E5E;
}
#u6204 {
  position:absolute;
  left:916px;
  top:520px;
  width:40px;
  height:20px;
  font-size:12px;
  color:#5E5E5E;
}
#u6204_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:12px;
  color:#5E5E5E;
}
#u6204.mouseDown {
}
#u6205 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u6206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6206 {
  position:absolute;
  left:154px;
  top:1002px;
  width:248px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6207 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u6208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6208 {
  position:absolute;
  left:664px;
  top:1002px;
  width:248px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6209 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
