body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6979 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:792px;
}
#u6980 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1071px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6982 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:1071px;
}
#u6983 {
  position:absolute;
  left:2px;
  top:528px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:946px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6984 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:946px;
}
#u6985 {
  position:absolute;
  left:2px;
  top:465px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6986 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u6987 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6988 {
  position:absolute;
  left:204px;
  top:1137px;
  width:168px;
  height:10px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6991 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:24px;
}
#u6992 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u6993 {
  position:absolute;
  left:360px;
  top:178px;
  width:100px;
  height:13px;
}
#u6994 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6995 {
  position:absolute;
  left:122px;
  top:215px;
  width:29px;
  height:16px;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u6997 {
  position:absolute;
  left:108px;
  top:248px;
  width:360px;
  height:1px;
}
#u6998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u6999 {
  position:absolute;
  left:412px;
  top:206px;
  width:48px;
  height:35px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u7001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:72px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u7003 {
  position:absolute;
  left:116px;
  top:259px;
  width:344px;
  height:72px;
}
#u7004 {
  position:absolute;
  left:2px;
  top:28px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7005 {
  position:absolute;
  left:130px;
  top:271px;
  width:40px;
  height:40px;
}
#u7006 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u7008 {
  position:absolute;
  left:190px;
  top:282px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u7009 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:113px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u7011 {
  position:absolute;
  left:116px;
  top:342px;
  width:344px;
  height:113px;
}
#u7012 {
  position:absolute;
  left:2px;
  top:48px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7013 {
  position:absolute;
  left:130px;
  top:352px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7014 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7015 {
  position:absolute;
  left:360px;
  top:352px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7018 {
  position:absolute;
  left:130px;
  top:388px;
  width:35px;
  height:35px;
}
#u7019 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7020 {
  position:absolute;
  left:130px;
  top:429px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7021 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7023 {
  position:absolute;
  left:223px;
  top:388px;
  width:35px;
  height:35px;
}
#u7024 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7025 {
  position:absolute;
  left:223px;
  top:429px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7028 {
  position:absolute;
  left:316px;
  top:388px;
  width:35px;
  height:35px;
}
#u7029 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7030 {
  position:absolute;
  left:316px;
  top:429px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7031 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7033 {
  position:absolute;
  left:409px;
  top:388px;
  width:35px;
  height:35px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7035 {
  position:absolute;
  left:401px;
  top:429px;
  width:52px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7036 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u7037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7037 {
  position:absolute;
  left:433px;
  top:352px;
  width:15px;
  height:15px;
}
#u7038 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:114px;
}
#u7039 {
  position:absolute;
  left:120px;
  top:465px;
  width:344px;
  height:113px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:48px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7041 {
  position:absolute;
  left:128px;
  top:473px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7042 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7043 {
  position:absolute;
  left:393px;
  top:473px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u7045 {
  position:absolute;
  left:442px;
  top:473px;
  width:15px;
  height:15px;
}
#u7046 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7047 {
  position:absolute;
  left:242px;
  top:487px;
  width:85px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7049 {
  position:absolute;
  left:327px;
  top:487px;
  width:15px;
  height:15px;
}
#u7050 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u7051 {
  position:absolute;
  left:223px;
  top:512px;
  width:139px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u7052 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u7053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7053 {
  position:absolute;
  left:215px;
  top:552px;
  width:155px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7054 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:96px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u7055 {
  position:absolute;
  left:121px;
  top:588px;
  width:344px;
  height:96px;
}
#u7056 {
  position:absolute;
  left:2px;
  top:40px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7058 {
  position:absolute;
  left:149px;
  top:609px;
  width:35px;
  height:35px;
}
#u7059 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7060 {
  position:absolute;
  left:142px;
  top:650px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7061 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7063 {
  position:absolute;
  left:235px;
  top:609px;
  width:35px;
  height:35px;
}
#u7064 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7065 {
  position:absolute;
  left:228px;
  top:650px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7066 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7068 {
  position:absolute;
  left:322px;
  top:609px;
  width:35px;
  height:35px;
}
#u7069 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7070 {
  position:absolute;
  left:315px;
  top:650px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7071 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u7073 {
  position:absolute;
  left:116px;
  top:771px;
  width:344px;
  height:45px;
}
#u7074 {
  position:absolute;
  left:2px;
  top:14px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7075 {
  position:absolute;
  left:123px;
  top:784px;
  width:77px;
  height:16px;
}
#u7076 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u7077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u7077 {
  position:absolute;
  left:419px;
  top:775px;
  width:35px;
  height:35px;
}
#u7078 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 89, 24, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7079 {
  position:absolute;
  left:249px;
  top:382px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u7080 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u7081 {
  position:absolute;
  left:123px;
  top:349px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7082 {
  position:absolute;
  left:120px;
  top:465px;
  width:344px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u7084 {
  position:absolute;
  left:116px;
  top:826px;
  width:344px;
  height:45px;
}
#u7085 {
  position:absolute;
  left:2px;
  top:14px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
}
#u7086 {
  position:absolute;
  left:123px;
  top:839px;
  width:91px;
  height:16px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
}
#u7087 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u7088 {
  position:absolute;
  left:419px;
  top:830px;
  width:35px;
  height:35px;
}
#u7089 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7091 {
  position:absolute;
  left:565px;
  top:516px;
  width:300px;
  height:170px;
}
#u7092 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u7093 {
  position:absolute;
  left:651px;
  top:533px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u7094 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u7095 {
  position:absolute;
  left:614px;
  top:559px;
  width:203px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u7096 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u7098 {
  position:absolute;
  left:638px;
  top:588px;
  width:45px;
  height:45px;
}
#u7099 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u7100 {
  position:absolute;
  left:693px;
  top:588px;
  width:45px;
  height:45px;
}
#u7101 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u7102 {
  position:absolute;
  left:748px;
  top:588px;
  width:45px;
  height:45px;
}
#u7103 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#5E5E5E;
}
#u7104 {
  position:absolute;
  left:615px;
  top:643px;
  width:202px;
  height:36px;
  font-size:14px;
  color:#5E5E5E;
}
#u7104_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#5E5E5E;
}
#u7104.mouseDown {
}
#u7105 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u7106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7106 {
  position:absolute;
  left:847px;
  top:506px;
  width:30px;
  height:30px;
}
#u7107 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:68px;
}
#u7108 {
  position:absolute;
  left:116px;
  top:694px;
  width:344px;
  height:67px;
}
#u7109 {
  position:absolute;
  left:2px;
  top:18px;
  width:340px;
  word-wrap:break-word;
}
#u7110 {
  position:absolute;
  left:116px;
  top:694px;
  width:344px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7112 {
  position:absolute;
  left:408px;
  top:609px;
  width:35px;
  height:35px;
}
#u7113 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7114 {
  position:absolute;
  left:401px;
  top:650px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7115 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7117 {
  position:absolute;
  left:108px;
  top:1044px;
  width:360px;
  height:74px;
}
#u7118 {
  position:absolute;
  left:2px;
  top:29px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7119_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u7119 {
  position:absolute;
  left:108px;
  top:1044px;
  width:360px;
  height:2px;
}
#u7120 {
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u7121 {
  position:absolute;
  left:126px;
  top:1086px;
  width:23px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u7122 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7123 {
  position:absolute;
  left:124px;
  top:1056px;
  width:25px;
  height:25px;
  color:#999999;
}
#u7124 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u7125 {
  position:absolute;
  left:271px;
  top:1086px;
  width:34px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u7126 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u7127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7127 {
  position:absolute;
  left:277px;
  top:1056px;
  width:25px;
  height:25px;
}
#u7128 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u7129 {
  position:absolute;
  left:346px;
  top:1086px;
  width:45px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u7130 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7131 {
  position:absolute;
  left:354px;
  top:1056px;
  width:25px;
  height:25px;
}
#u7132 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u7133 {
  position:absolute;
  left:433px;
  top:1086px;
  width:23px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u7134 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u7135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7135 {
  position:absolute;
  left:431px;
  top:1056px;
  width:25px;
  height:25px;
}
#u7136 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u7137 {
  position:absolute;
  left:188px;
  top:1086px;
  width:45px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u7138 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u7139 {
  position:absolute;
  left:198px;
  top:1056px;
  width:25px;
  height:25px;
}
#u7140 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
