body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1266px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:770px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2436 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:770px;
}
#u2437 {
  position:absolute;
  left:2px;
  top:377px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:915px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2439 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:915px;
}
#u2440 {
  position:absolute;
  left:2px;
  top:450px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:791px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2441 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:791px;
}
#u2442 {
  position:absolute;
  left:2px;
  top:388px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2443 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u2444 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2445 {
  position:absolute;
  left:204px;
  top:984px;
  width:168px;
  height:10px;
}
#u2446 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u2449 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:56px;
}
#u2450 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u2451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2451 {
  position:absolute;
  left:108px;
  top:180px;
  width:40px;
  height:40px;
}
#u2452 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2453 {
  position:absolute;
  left:108px;
  top:172px;
  width:104px;
  height:56px;
}
#u2453_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2453.mouseDown {
}
#u2454 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u2455 {
  position:absolute;
  left:189px;
  top:238px;
  width:198px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u2456 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u2457 {
  position:absolute;
  left:148px;
  top:200px;
  width:0px;
  height:0px;
}
#u2457_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:363px;
  height:8px;
}
#u2457_seg1 {
  position:absolute;
  left:355px;
  top:-54px;
  width:8px;
  height:58px;
}
#u2457_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2457_seg3 {
  position:absolute;
  left:349px;
  top:-63px;
  width:20px;
  height:20px;
}
#u2458 {
  position:absolute;
  left:156px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2459 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2460 {
  position:absolute;
  left:506px;
  top:139px;
  width:109px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2461 {
  position:absolute;
  left:5px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2462_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u2462 {
  position:absolute;
  left:506px;
  top:139px;
  width:2px;
  height:14px;
}
#u2463 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2464 {
  position:absolute;
  left:407px;
  top:443px;
  width:0px;
  height:0px;
}
#u2464_seg0 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:8px;
  height:17px;
}
#u2464_seg1 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:297px;
  height:8px;
}
#u2464_seg2 {
  position:absolute;
  left:285px;
  top:-74px;
  width:8px;
  height:65px;
}
#u2464_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2464_seg4 {
  position:absolute;
  left:279px;
  top:-83px;
  width:20px;
  height:20px;
}
#u2465 {
  position:absolute;
  left:118px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2467 {
  position:absolute;
  left:695px;
  top:362px;
  width:571px;
  height:157px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2468 {
  position:absolute;
  left:5px;
  top:0px;
  width:561px;
  white-space:nowrap;
}
#u2469_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u2469 {
  position:absolute;
  left:695px;
  top:362px;
  width:2px;
  height:14px;
}
#u2470 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2473 {
  position:absolute;
  left:123px;
  top:565px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2474 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2475 {
  position:absolute;
  left:123px;
  top:612px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u2476 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2477 {
  position:absolute;
  left:123px;
  top:586px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2478 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2479 {
  position:absolute;
  left:193px;
  top:586px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2480 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2481 {
  position:absolute;
  left:265px;
  top:586px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2482 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2483 {
  position:absolute;
  left:409px;
  top:586px;
  width:43px;
  height:25px;
}
#u2484 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2486 {
  position:absolute;
  left:123px;
  top:285px;
  width:56px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2487 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2488 {
  position:absolute;
  left:409px;
  top:292px;
  width:43px;
  height:25px;
}
#u2489 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u2490 {
  position:absolute;
  left:183px;
  top:276px;
  width:30px;
  height:17px;
}
#u2491 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u2492 {
  position:absolute;
  left:183px;
  top:334px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u2493 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u2494 {
  position:absolute;
  left:123px;
  top:341px;
  width:55px;
  height:1px;
}
#u2495 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2496 {
  position:absolute;
  left:123px;
  top:333px;
  width:53px;
  height:16px;
}
#u2497 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2498 {
  position:absolute;
  left:123px;
  top:304px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2499 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2500 {
  position:absolute;
  left:193px;
  top:304px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2501 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2502 {
  position:absolute;
  left:265px;
  top:304px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2503 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2504 {
  position:absolute;
  left:108px;
  top:812px;
  width:360px;
  height:1px;
}
#u2505 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2506 {
  position:absolute;
  left:264px;
  top:846px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2507 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2509 {
  position:absolute;
  left:123px;
  top:381px;
  width:56px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2510 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2511 {
  position:absolute;
  left:409px;
  top:388px;
  width:43px;
  height:25px;
}
#u2512 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u2513 {
  position:absolute;
  left:183px;
  top:372px;
  width:30px;
  height:17px;
}
#u2514 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u2515 {
  position:absolute;
  left:183px;
  top:430px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u2516 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u2517 {
  position:absolute;
  left:123px;
  top:437px;
  width:55px;
  height:1px;
}
#u2518 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2519 {
  position:absolute;
  left:123px;
  top:429px;
  width:53px;
  height:16px;
}
#u2520 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2521 {
  position:absolute;
  left:123px;
  top:400px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2522 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2523 {
  position:absolute;
  left:193px;
  top:400px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2524 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2525 {
  position:absolute;
  left:265px;
  top:400px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2526 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2528 {
  position:absolute;
  left:123px;
  top:478px;
  width:56px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2529 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2530 {
  position:absolute;
  left:409px;
  top:485px;
  width:43px;
  height:25px;
}
#u2531 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u2532 {
  position:absolute;
  left:183px;
  top:469px;
  width:30px;
  height:17px;
}
#u2533 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u2534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u2534 {
  position:absolute;
  left:183px;
  top:527px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u2535 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u2536 {
  position:absolute;
  left:123px;
  top:534px;
  width:55px;
  height:1px;
}
#u2537 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2538 {
  position:absolute;
  left:123px;
  top:526px;
  width:53px;
  height:16px;
}
#u2539 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2540 {
  position:absolute;
  left:123px;
  top:497px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2541 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2542 {
  position:absolute;
  left:193px;
  top:497px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2543 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2544 {
  position:absolute;
  left:265px;
  top:497px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2545 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2546 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2547 {
  position:absolute;
  left:123px;
  top:734px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2548 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2549 {
  position:absolute;
  left:123px;
  top:781px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u2550 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2551 {
  position:absolute;
  left:123px;
  top:755px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2552 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2553 {
  position:absolute;
  left:193px;
  top:755px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2554 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2555 {
  position:absolute;
  left:265px;
  top:755px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2556 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2557 {
  position:absolute;
  left:409px;
  top:755px;
  width:43px;
  height:25px;
}
#u2558 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2559 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2560 {
  position:absolute;
  left:123px;
  top:650px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2561 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2562 {
  position:absolute;
  left:123px;
  top:697px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u2563 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2564 {
  position:absolute;
  left:123px;
  top:671px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2565 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2566 {
  position:absolute;
  left:193px;
  top:671px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2567 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2568 {
  position:absolute;
  left:265px;
  top:671px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u2569 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u2570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2570 {
  position:absolute;
  left:409px;
  top:671px;
  width:43px;
  height:25px;
}
#u2571 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u2572 {
  position:absolute;
  left:118px;
  top:268px;
  width:340px;
  height:287px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2573 {
  position:absolute;
  left:123px;
  top:552px;
  width:329px;
  height:260px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2574 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2575 {
  position:absolute;
  left:112px;
  top:238px;
  width:30px;
  height:30px;
}
#u2576 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2578 {
  position:absolute;
  left:145px;
  top:238px;
  width:30px;
  height:30px;
  opacity:0.4;
}
#u2579 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2580 {
  position:absolute;
  left:148px;
  top:246px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u2581 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
