body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6813 {
  position:absolute;
  left:100px;
  top:1200px;
  width:201px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6814 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u6815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6816 {
  position:absolute;
  left:100px;
  top:1238px;
  width:376px;
  height:792px;
}
#u6817 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:983px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6819 {
  position:absolute;
  left:102px;
  top:1240px;
  width:372px;
  height:983px;
}
#u6820 {
  position:absolute;
  left:2px;
  top:484px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:857px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6821 {
  position:absolute;
  left:108px;
  top:1310px;
  width:360px;
  height:857px;
}
#u6822 {
  position:absolute;
  left:2px;
  top:420px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6823 {
  position:absolute;
  left:204px;
  top:1268px;
  width:168px;
  height:10px;
}
#u6824 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6825 {
  position:absolute;
  left:204px;
  top:2186px;
  width:168px;
  height:10px;
}
#u6826 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6828 {
  position:absolute;
  left:108px;
  top:1310px;
  width:360px;
  height:24px;
}
#u6829 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u6830 {
  position:absolute;
  left:360px;
  top:1316px;
  width:100px;
  height:13px;
}
#u6831 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6834 {
  position:absolute;
  left:108px;
  top:1334px;
  width:360px;
  height:56px;
}
#u6835 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u6836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6836 {
  position:absolute;
  left:108px;
  top:1342px;
  width:40px;
  height:40px;
}
#u6837 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6838 {
  position:absolute;
  left:148px;
  top:1352px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6839 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6840 {
  position:absolute;
  left:108px;
  top:1334px;
  width:104px;
  height:56px;
}
#u6840_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6840.mouseDown {
}
#u6841 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6842 {
  position:absolute;
  left:108px;
  top:1400px;
  width:360px;
  height:56px;
}
#u6843 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6844 {
  position:absolute;
  left:215px;
  top:1411px;
  width:35px;
  height:35px;
}
#u6845 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2B2B2C;
}
#u6846 {
  position:absolute;
  left:260px;
  top:1416px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2B2B2C;
}
#u6847 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:176px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6850 {
  position:absolute;
  left:113px;
  top:1461px;
  width:350px;
  height:176px;
}
#u6851 {
  position:absolute;
  left:2px;
  top:80px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6852 {
  position:absolute;
  left:145px;
  top:1467px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6853 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6854 {
  position:absolute;
  left:127px;
  top:1467px;
  width:15px;
  height:15px;
}
#u6855 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6856 {
  position:absolute;
  left:127px;
  top:1484px;
  width:117px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6857 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u6858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6858 {
  position:absolute;
  left:113px;
  top:1509px;
  width:350px;
  height:1px;
}
#u6859 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6860 {
  position:absolute;
  left:385px;
  top:1483px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6861 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6862 {
  position:absolute;
  left:113px;
  top:1579px;
  width:350px;
  height:1px;
}
#u6863 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u6864 {
  position:absolute;
  left:192px;
  top:1520px;
  width:159px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u6865 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u6866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
}
#u6866 {
  position:absolute;
  left:127px;
  top:1520px;
  width:55px;
  height:49px;
}
#u6867 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u6868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u6868 {
  position:absolute;
  left:192px;
  top:1537px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u6869 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u6870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u6870 {
  position:absolute;
  left:298px;
  top:1526px;
  width:55px;
  height:1px;
}
#u6871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6872 {
  position:absolute;
  left:375px;
  top:1520px;
  width:81px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6873 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6874 {
  position:absolute;
  left:438px;
  top:1546px;
  width:13px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6876 {
  position:absolute;
  left:333px;
  top:1601px;
  width:123px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6877 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u6878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6878 {
  position:absolute;
  left:108px;
  top:1659px;
  width:360px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u6878_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6878.mouseDown {
}
#u6879 {
  position:absolute;
  left:16px;
  top:14px;
  width:342px;
  word-wrap:break-word;
}
#u6880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:179px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6880 {
  position:absolute;
  left:108px;
  top:1731px;
  width:360px;
  height:179px;
  font-size:12px;
  text-align:left;
}
#u6880_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:179px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6880.mouseDown {
}
#u6881 {
  position:absolute;
  left:16px;
  top:7px;
  width:342px;
  word-wrap:break-word;
}
#u6882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:12px;
  color:#5E5E5E;
}
#u6882 {
  position:absolute;
  left:416px;
  top:1735px;
  width:40px;
  height:20px;
  font-size:12px;
  color:#5E5E5E;
}
#u6882_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:12px;
  color:#5E5E5E;
}
#u6882.mouseDown {
}
#u6883 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u6884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6884 {
  position:absolute;
  left:409px;
  top:1669px;
  width:25px;
  height:25px;
}
#u6885 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6886 {
  position:absolute;
  left:384px;
  top:1669px;
  width:25px;
  height:25px;
}
#u6887 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u6888 {
  position:absolute;
  left:428px;
  top:1669px;
  width:28px;
  height:28px;
}
#u6889 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6890 {
  position:absolute;
  left:359px;
  top:1669px;
  width:25px;
  height:25px;
}
#u6891 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6892 {
  position:absolute;
  left:600px;
  top:1200px;
  width:249px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6893 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u6894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6895 {
  position:absolute;
  left:600px;
  top:1238px;
  width:376px;
  height:792px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:983px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6898 {
  position:absolute;
  left:602px;
  top:1240px;
  width:372px;
  height:983px;
}
#u6899 {
  position:absolute;
  left:2px;
  top:484px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:857px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6900 {
  position:absolute;
  left:608px;
  top:1310px;
  width:360px;
  height:857px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:420px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6902 {
  position:absolute;
  left:704px;
  top:1268px;
  width:168px;
  height:10px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6904 {
  position:absolute;
  left:704px;
  top:2186px;
  width:168px;
  height:10px;
}
#u6905 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6907 {
  position:absolute;
  left:608px;
  top:1310px;
  width:360px;
  height:24px;
}
#u6908 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u6909 {
  position:absolute;
  left:860px;
  top:1316px;
  width:100px;
  height:13px;
}
#u6910 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6913 {
  position:absolute;
  left:608px;
  top:1334px;
  width:360px;
  height:56px;
}
#u6914 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u6915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6915 {
  position:absolute;
  left:608px;
  top:1342px;
  width:40px;
  height:40px;
}
#u6916 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6917 {
  position:absolute;
  left:648px;
  top:1352px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6918 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6919 {
  position:absolute;
  left:608px;
  top:1334px;
  width:104px;
  height:56px;
}
#u6919_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6919.mouseDown {
}
#u6920 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6921 {
  position:absolute;
  left:608px;
  top:1400px;
  width:360px;
  height:56px;
}
#u6922 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u6923 {
  position:absolute;
  left:735px;
  top:1411px;
  width:35px;
  height:35px;
}
#u6924 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2B2B2C;
}
#u6925 {
  position:absolute;
  left:780px;
  top:1416px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#2B2B2C;
}
#u6926 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:176px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6929 {
  position:absolute;
  left:613px;
  top:1465px;
  width:350px;
  height:176px;
}
#u6930 {
  position:absolute;
  left:2px;
  top:80px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6931 {
  position:absolute;
  left:645px;
  top:1471px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6932 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6933 {
  position:absolute;
  left:627px;
  top:1471px;
  width:15px;
  height:15px;
}
#u6934 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6935 {
  position:absolute;
  left:627px;
  top:1488px;
  width:117px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6936 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u6937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6937 {
  position:absolute;
  left:613px;
  top:1513px;
  width:350px;
  height:1px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6939 {
  position:absolute;
  left:885px;
  top:1485px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6940 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:2px;
}
#u6941 {
  position:absolute;
  left:613px;
  top:1583px;
  width:350px;
  height:1px;
}
#u6942 {
  position:absolute;
  left:2px;
  top:-8px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6943 {
  position:absolute;
  left:692px;
  top:1524px;
  width:125px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6944 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u6945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:50px;
}
#u6945 {
  position:absolute;
  left:627px;
  top:1524px;
  width:55px;
  height:49px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u6947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6947 {
  position:absolute;
  left:875px;
  top:1524px;
  width:81px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6948 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6949 {
  position:absolute;
  left:938px;
  top:1550px;
  width:13px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6950 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6951 {
  position:absolute;
  left:833px;
  top:1605px;
  width:123px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6952 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u6953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:177px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6953 {
  position:absolute;
  left:608px;
  top:1654px;
  width:360px;
  height:177px;
  font-size:12px;
  text-align:left;
}
#u6953_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:177px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u6953.mouseDown {
}
#u6954 {
  position:absolute;
  left:16px;
  top:6px;
  width:342px;
  word-wrap:break-word;
}
#u6955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:12px;
  color:#5E5E5E;
}
#u6955 {
  position:absolute;
  left:916px;
  top:1658px;
  width:40px;
  height:20px;
  font-size:12px;
  color:#5E5E5E;
}
#u6955_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:12px;
  color:#5E5E5E;
}
#u6955.mouseDown {
}
#u6956 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u6957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6957 {
  position:absolute;
  left:154px;
  top:2140px;
  width:248px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6958 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u6959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6959 {
  position:absolute;
  left:664px;
  top:2140px;
  width:248px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6960 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:733px;
}
#u6961 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:733px;
}
#u6962 {
  position:absolute;
  left:2px;
  top:358px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:677px;
}
#u6963 {
  position:absolute;
  left:565px;
  top:100px;
  width:375px;
  height:677px;
}
#u6964 {
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
