body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1577px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7957 {
  position:absolute;
  left:800px;
  top:100px;
  width:376px;
  height:792px;
}
#u7958 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1071px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7960 {
  position:absolute;
  left:802px;
  top:102px;
  width:372px;
  height:1071px;
}
#u7961 {
  position:absolute;
  left:2px;
  top:528px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:946px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7962 {
  position:absolute;
  left:808px;
  top:172px;
  width:360px;
  height:946px;
}
#u7963 {
  position:absolute;
  left:2px;
  top:465px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7964 {
  position:absolute;
  left:904px;
  top:130px;
  width:168px;
  height:10px;
}
#u7965 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7966 {
  position:absolute;
  left:904px;
  top:1137px;
  width:168px;
  height:10px;
}
#u7967 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7969 {
  position:absolute;
  left:808px;
  top:172px;
  width:360px;
  height:24px;
}
#u7970 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u7971 {
  position:absolute;
  left:1060px;
  top:178px;
  width:100px;
  height:13px;
}
#u7972 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7973 {
  position:absolute;
  left:822px;
  top:215px;
  width:29px;
  height:16px;
}
#u7974 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u7975 {
  position:absolute;
  left:808px;
  top:248px;
  width:360px;
  height:1px;
}
#u7976 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u7977 {
  position:absolute;
  left:1112px;
  top:206px;
  width:48px;
  height:35px;
}
#u7978 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u7979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:72px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u7981 {
  position:absolute;
  left:816px;
  top:259px;
  width:344px;
  height:72px;
}
#u7982 {
  position:absolute;
  left:2px;
  top:28px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7983 {
  position:absolute;
  left:830px;
  top:271px;
  width:40px;
  height:40px;
}
#u7984 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u7986 {
  position:absolute;
  left:890px;
  top:282px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u7987 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:113px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u7989 {
  position:absolute;
  left:816px;
  top:342px;
  width:344px;
  height:113px;
}
#u7990 {
  position:absolute;
  left:2px;
  top:48px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7991 {
  position:absolute;
  left:830px;
  top:352px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7992 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7993 {
  position:absolute;
  left:1060px;
  top:352px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7994 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7996 {
  position:absolute;
  left:830px;
  top:388px;
  width:35px;
  height:35px;
}
#u7997 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7998 {
  position:absolute;
  left:830px;
  top:429px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7999 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u8001 {
  position:absolute;
  left:923px;
  top:388px;
  width:35px;
  height:35px;
}
#u8002 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8003 {
  position:absolute;
  left:923px;
  top:429px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8004 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u8006 {
  position:absolute;
  left:1016px;
  top:388px;
  width:35px;
  height:35px;
}
#u8007 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8008 {
  position:absolute;
  left:1016px;
  top:429px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8009 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u8011 {
  position:absolute;
  left:1109px;
  top:388px;
  width:35px;
  height:35px;
}
#u8012 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8013 {
  position:absolute;
  left:1101px;
  top:429px;
  width:52px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8014 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u8015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8015 {
  position:absolute;
  left:1133px;
  top:352px;
  width:15px;
  height:15px;
}
#u8016 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:114px;
}
#u8017 {
  position:absolute;
  left:820px;
  top:465px;
  width:344px;
  height:113px;
}
#u8018 {
  position:absolute;
  left:2px;
  top:48px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8019 {
  position:absolute;
  left:828px;
  top:473px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8020 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8021 {
  position:absolute;
  left:1093px;
  top:473px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8022 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8023 {
  position:absolute;
  left:1142px;
  top:473px;
  width:15px;
  height:15px;
}
#u8024 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8025 {
  position:absolute;
  left:942px;
  top:487px;
  width:85px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8026 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8027 {
  position:absolute;
  left:1027px;
  top:487px;
  width:15px;
  height:15px;
}
#u8028 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u8029 {
  position:absolute;
  left:923px;
  top:512px;
  width:139px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u8030 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u8031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8031 {
  position:absolute;
  left:915px;
  top:552px;
  width:155px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8032 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u8033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:96px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u8033 {
  position:absolute;
  left:821px;
  top:588px;
  width:344px;
  height:96px;
}
#u8034 {
  position:absolute;
  left:2px;
  top:40px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u8036 {
  position:absolute;
  left:849px;
  top:609px;
  width:35px;
  height:35px;
}
#u8037 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8038 {
  position:absolute;
  left:842px;
  top:650px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8039 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u8041 {
  position:absolute;
  left:935px;
  top:609px;
  width:35px;
  height:35px;
}
#u8042 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8043 {
  position:absolute;
  left:928px;
  top:650px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8044 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u8046 {
  position:absolute;
  left:1022px;
  top:609px;
  width:35px;
  height:35px;
}
#u8047 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8048 {
  position:absolute;
  left:1015px;
  top:650px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8049 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u8051 {
  position:absolute;
  left:816px;
  top:771px;
  width:344px;
  height:45px;
}
#u8052 {
  position:absolute;
  left:2px;
  top:14px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8053 {
  position:absolute;
  left:823px;
  top:784px;
  width:77px;
  height:16px;
}
#u8054 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u8055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8055 {
  position:absolute;
  left:1119px;
  top:775px;
  width:35px;
  height:35px;
}
#u8056 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 89, 24, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u8057 {
  position:absolute;
  left:949px;
  top:382px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u8058 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u8059 {
  position:absolute;
  left:823px;
  top:349px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8060 {
  position:absolute;
  left:820px;
  top:465px;
  width:344px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u8062 {
  position:absolute;
  left:816px;
  top:826px;
  width:344px;
  height:45px;
}
#u8063 {
  position:absolute;
  left:2px;
  top:14px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
}
#u8064 {
  position:absolute;
  left:823px;
  top:839px;
  width:91px;
  height:16px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
}
#u8065 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8066 {
  position:absolute;
  left:1119px;
  top:830px;
  width:35px;
  height:35px;
}
#u8067 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8069 {
  position:absolute;
  left:1265px;
  top:516px;
  width:300px;
  height:170px;
}
#u8070 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u8071 {
  position:absolute;
  left:1351px;
  top:533px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u8072 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u8073 {
  position:absolute;
  left:1314px;
  top:559px;
  width:203px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u8074 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u8075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u8076 {
  position:absolute;
  left:1338px;
  top:588px;
  width:45px;
  height:45px;
}
#u8077 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u8078 {
  position:absolute;
  left:1393px;
  top:588px;
  width:45px;
  height:45px;
}
#u8079 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u8080 {
  position:absolute;
  left:1448px;
  top:588px;
  width:45px;
  height:45px;
}
#u8081 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#5E5E5E;
}
#u8082 {
  position:absolute;
  left:1315px;
  top:643px;
  width:202px;
  height:36px;
  font-size:14px;
  color:#5E5E5E;
}
#u8082_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#5E5E5E;
}
#u8082.mouseDown {
}
#u8083 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u8084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8084 {
  position:absolute;
  left:1547px;
  top:506px;
  width:30px;
  height:30px;
}
#u8085 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:68px;
}
#u8086 {
  position:absolute;
  left:816px;
  top:694px;
  width:344px;
  height:67px;
}
#u8087 {
  position:absolute;
  left:2px;
  top:18px;
  width:340px;
  word-wrap:break-word;
}
#u8088 {
  position:absolute;
  left:816px;
  top:694px;
  width:344px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u8090 {
  position:absolute;
  left:1108px;
  top:609px;
  width:35px;
  height:35px;
}
#u8091 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8092 {
  position:absolute;
  left:1101px;
  top:650px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u8093 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8095 {
  position:absolute;
  left:808px;
  top:1044px;
  width:360px;
  height:74px;
}
#u8096 {
  position:absolute;
  left:2px;
  top:29px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8097_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u8097 {
  position:absolute;
  left:808px;
  top:1044px;
  width:360px;
  height:2px;
}
#u8098 {
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u8099 {
  position:absolute;
  left:826px;
  top:1086px;
  width:23px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u8100 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8101 {
  position:absolute;
  left:824px;
  top:1056px;
  width:25px;
  height:25px;
  color:#999999;
}
#u8102 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u8103 {
  position:absolute;
  left:971px;
  top:1086px;
  width:34px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u8104 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u8105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8105 {
  position:absolute;
  left:977px;
  top:1056px;
  width:25px;
  height:25px;
}
#u8106 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u8107 {
  position:absolute;
  left:1046px;
  top:1086px;
  width:45px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u8108 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8109 {
  position:absolute;
  left:1054px;
  top:1056px;
  width:25px;
  height:25px;
}
#u8110 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u8111 {
  position:absolute;
  left:1133px;
  top:1086px;
  width:23px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u8112 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8113 {
  position:absolute;
  left:1131px;
  top:1056px;
  width:25px;
  height:25px;
}
#u8114 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u8115 {
  position:absolute;
  left:888px;
  top:1086px;
  width:45px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u8116 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8117 {
  position:absolute;
  left:898px;
  top:1056px;
  width:25px;
  height:25px;
}
#u8118 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:847px;
}
#u8119 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:847px;
}
#u8120 {
  position:absolute;
  left:2px;
  top:416px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8121 {
  position:absolute;
  left:453px;
  top:710px;
  width:0px;
  height:0px;
}
#u8121_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u8121_seg1 {
  position:absolute;
  left:82px;
  top:-38px;
  width:8px;
  height:42px;
}
#u8121_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8121_seg3 {
  position:absolute;
  left:76px;
  top:-47px;
  width:20px;
  height:20px;
}
#u8122 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8124 {
  position:absolute;
  left:538px;
  top:665px;
  width:95px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8125 {
  position:absolute;
  left:5px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u8126 {
  position:absolute;
  left:538px;
  top:665px;
  width:1px;
  height:14px;
}
#u8127 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
