body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u30865 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u30866 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u30869 {
  position:absolute;
  left:720px;
  top:449px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u30870 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u30871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u30871 {
  position:absolute;
  left:720px;
  top:496px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u30872 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u30873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30873 {
  position:absolute;
  left:720px;
  top:470px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30874 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30875 {
  position:absolute;
  left:790px;
  top:470px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30876 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30877 {
  position:absolute;
  left:862px;
  top:470px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30878 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30879 {
  position:absolute;
  left:1006px;
  top:470px;
  width:43px;
  height:25px;
}
#u30880 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u30881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u30882 {
  position:absolute;
  left:720px;
  top:169px;
  width:56px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u30883 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u30884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30884 {
  position:absolute;
  left:1006px;
  top:176px;
  width:43px;
  height:25px;
}
#u30885 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u30886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u30886 {
  position:absolute;
  left:780px;
  top:160px;
  width:30px;
  height:17px;
}
#u30887 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u30888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u30888 {
  position:absolute;
  left:780px;
  top:218px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u30889 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u30890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u30890 {
  position:absolute;
  left:720px;
  top:225px;
  width:55px;
  height:1px;
}
#u30891 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u30892 {
  position:absolute;
  left:720px;
  top:217px;
  width:53px;
  height:16px;
}
#u30893 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30894 {
  position:absolute;
  left:720px;
  top:188px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30895 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30896 {
  position:absolute;
  left:790px;
  top:188px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30897 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30898 {
  position:absolute;
  left:862px;
  top:188px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30899 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u30900 {
  position:absolute;
  left:705px;
  top:696px;
  width:360px;
  height:1px;
}
#u30901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u30902 {
  position:absolute;
  left:861px;
  top:730px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u30903 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u30904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u30905 {
  position:absolute;
  left:720px;
  top:265px;
  width:56px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u30906 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u30907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30907 {
  position:absolute;
  left:1006px;
  top:272px;
  width:43px;
  height:25px;
}
#u30908 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u30909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u30909 {
  position:absolute;
  left:780px;
  top:256px;
  width:30px;
  height:17px;
}
#u30910 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u30911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u30911 {
  position:absolute;
  left:780px;
  top:314px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u30912 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u30913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u30913 {
  position:absolute;
  left:720px;
  top:321px;
  width:55px;
  height:1px;
}
#u30914 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u30915 {
  position:absolute;
  left:720px;
  top:313px;
  width:53px;
  height:16px;
}
#u30916 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30917 {
  position:absolute;
  left:720px;
  top:284px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30918 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30919 {
  position:absolute;
  left:790px;
  top:284px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30920 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30921 {
  position:absolute;
  left:862px;
  top:284px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30922 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u30924 {
  position:absolute;
  left:720px;
  top:362px;
  width:56px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u30925 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u30926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30926 {
  position:absolute;
  left:1006px;
  top:369px;
  width:43px;
  height:25px;
}
#u30927 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u30928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u30928 {
  position:absolute;
  left:780px;
  top:353px;
  width:30px;
  height:17px;
}
#u30929 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u30930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u30930 {
  position:absolute;
  left:780px;
  top:411px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u30931 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u30932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u30932 {
  position:absolute;
  left:720px;
  top:418px;
  width:55px;
  height:1px;
}
#u30933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u30934 {
  position:absolute;
  left:720px;
  top:410px;
  width:53px;
  height:16px;
}
#u30935 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30936 {
  position:absolute;
  left:720px;
  top:381px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30937 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30938 {
  position:absolute;
  left:790px;
  top:381px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30939 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30940 {
  position:absolute;
  left:862px;
  top:381px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30941 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u30943 {
  position:absolute;
  left:720px;
  top:618px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u30944 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u30945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u30945 {
  position:absolute;
  left:720px;
  top:665px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u30946 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u30947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30947 {
  position:absolute;
  left:720px;
  top:639px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30948 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30949 {
  position:absolute;
  left:790px;
  top:639px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30950 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30951 {
  position:absolute;
  left:862px;
  top:639px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30952 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30953 {
  position:absolute;
  left:1006px;
  top:639px;
  width:43px;
  height:25px;
}
#u30954 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u30955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u30956 {
  position:absolute;
  left:720px;
  top:534px;
  width:133px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u30957 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u30958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u30958 {
  position:absolute;
  left:720px;
  top:581px;
  width:140px;
  height:14px;
  font-size:11px;
}
#u30959 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u30960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30960 {
  position:absolute;
  left:720px;
  top:555px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30961 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30962 {
  position:absolute;
  left:790px;
  top:555px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30963 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u30964 {
  position:absolute;
  left:862px;
  top:555px;
  width:65px;
  height:19px;
  font-size:12px;
  color:#666666;
}
#u30965 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u30966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30966 {
  position:absolute;
  left:1006px;
  top:555px;
  width:43px;
  height:25px;
}
#u30967 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u30968 {
  position:absolute;
  left:372px;
  top:250px;
  width:0px;
  height:0px;
}
#u30968_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:185px;
  height:8px;
}
#u30968_seg1 {
  position:absolute;
  left:177px;
  top:-38px;
  width:8px;
  height:42px;
}
#u30968_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u30968_seg3 {
  position:absolute;
  left:171px;
  top:-47px;
  width:20px;
  height:20px;
}
#u30969 {
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u30971 {
  position:absolute;
  left:552px;
  top:205px;
  width:95px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u30972 {
  position:absolute;
  left:5px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u30973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u30973 {
  position:absolute;
  left:552px;
  top:205px;
  width:1px;
  height:14px;
}
#u30974 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
