body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:968px;
}
#u5477 {
  position:absolute;
  left:631px;
  top:100px;
  width:375px;
  height:968px;
}
#u5478 {
  position:absolute;
  left:2px;
  top:476px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:968px;
}
#u5479 {
  position:absolute;
  left:1692px;
  top:100px;
  width:375px;
  height:968px;
}
#u5480 {
  position:absolute;
  left:2px;
  top:476px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:780px;
}
#u5481 {
  position:absolute;
  left:1161px;
  top:100px;
  width:375px;
  height:780px;
}
#u5482 {
  position:absolute;
  left:2px;
  top:382px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:968px;
}
#u5483 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:968px;
}
#u5484 {
  position:absolute;
  left:2px;
  top:476px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
