body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1433px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6900 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6902 {
  position:absolute;
  left:579px;
  top:100px;
  width:375px;
  height:667px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6904 {
  position:absolute;
  left:1058px;
  top:100px;
  width:375px;
  height:667px;
}
#u6905 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
