body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u234 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u235 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:706px;
  top:102px;
  width:939px;
  height:715px;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u238 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u239 {
  position:absolute;
  left:227px;
  top:0px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u240 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u241 {
  position:absolute;
  left:0px;
  top:30px;
  width:227px;
  height:36px;
  font-size:14px;
}
#u242 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:36px;
}
#u243 {
  position:absolute;
  left:227px;
  top:30px;
  width:707px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u244 {
  position:absolute;
  left:2px;
  top:10px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u245 {
  position:absolute;
  left:0px;
  top:66px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u246 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u247 {
  position:absolute;
  left:227px;
  top:66px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u248 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:519px;
}
#u249 {
  position:absolute;
  left:0px;
  top:96px;
  width:227px;
  height:519px;
  font-size:14px;
}
#u250 {
  position:absolute;
  left:2px;
  top:252px;
  width:223px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:519px;
}
#u251 {
  position:absolute;
  left:227px;
  top:96px;
  width:707px;
  height:519px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u252 {
  position:absolute;
  left:2px;
  top:2px;
  width:703px;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u253 {
  position:absolute;
  left:0px;
  top:615px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u254 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u255 {
  position:absolute;
  left:227px;
  top:615px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u256 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u257 {
  position:absolute;
  left:0px;
  top:645px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u258 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u259 {
  position:absolute;
  left:227px;
  top:645px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u260 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:35px;
}
#u261 {
  position:absolute;
  left:0px;
  top:675px;
  width:227px;
  height:35px;
  font-size:14px;
}
#u262 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:35px;
}
#u263 {
  position:absolute;
  left:227px;
  top:675px;
  width:707px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u264 {
  position:absolute;
  left:2px;
  top:10px;
  width:703px;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u265 {
  position:absolute;
  left:271px;
  top:263px;
  width:60px;
  height:60px;
}
#u266 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
}
#u267 {
  position:absolute;
  left:271px;
  top:323px;
  width:85px;
  height:35px;
  font-size:14px;
  color:#FF3399;
}
#u268 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
