body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:669px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:787px;
}
#u1686 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:787px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:386px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688 {
  position:absolute;
  left:436px;
  top:615px;
  width:0px;
  height:0px;
}
#u1688_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1688_seg1 {
  position:absolute;
  left:-4px;
  top:31px;
  width:105px;
  height:8px;
}
#u1688_seg2 {
  position:absolute;
  left:93px;
  top:9px;
  width:8px;
  height:30px;
}
#u1688_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1688_seg4 {
  position:absolute;
  left:87px;
  top:0px;
  width:20px;
  height:20px;
}
#u1689 {
  position:absolute;
  left:-6px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1691 {
  position:absolute;
  left:532px;
  top:617px;
  width:137px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1692 {
  position:absolute;
  left:5px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1693 {
  position:absolute;
  left:532px;
  top:617px;
  width:1px;
  height:14px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
