body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7273 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u7274 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7275 {
  position:absolute;
  left:601px;
  top:100px;
  width:375px;
  height:667px;
}
#u7276 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7277 {
  position:absolute;
  left:1102px;
  top:100px;
  width:375px;
  height:667px;
}
#u7278 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7279 {
  position:absolute;
  left:1603px;
  top:100px;
  width:375px;
  height:667px;
}
#u7280 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:57px;
}
#u7281 {
  position:absolute;
  left:454px;
  top:684px;
  width:176px;
  height:57px;
}
#u7282 {
  position:absolute;
  left:2px;
  top:20px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
