body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12210 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:792px;
}
#u12211 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12213 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:788px;
}
#u12214 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12215 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:640px;
}
#u12216 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12217 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u12218 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12219 {
  position:absolute;
  left:204px;
  top:842px;
  width:168px;
  height:10px;
}
#u12220 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u12223 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:56px;
}
#u12224 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u12225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12225 {
  position:absolute;
  left:108px;
  top:180px;
  width:40px;
  height:40px;
}
#u12226 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12227 {
  position:absolute;
  left:148px;
  top:190px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12228 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u12229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12229 {
  position:absolute;
  left:108px;
  top:172px;
  width:104px;
  height:56px;
}
#u12229_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12229.mouseDown {
}
#u12230 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u12231 {
  position:absolute;
  left:251px;
  top:256px;
  width:75px;
  height:75px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
#u12232 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u12233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12233 {
  position:absolute;
  left:192px;
  top:415px;
  width:113px;
  height:16px;
  color:#999999;
}
#u12234 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12235 {
  position:absolute;
  left:108px;
  top:351px;
  width:360px;
  height:48px;
  text-align:left;
}
#u12235_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12235.mouseDown {
}
#u12236 {
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u12237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12237 {
  position:absolute;
  left:108px;
  top:399px;
  width:360px;
  height:48px;
  text-align:left;
}
#u12237_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12237.mouseDown {
}
#u12238 {
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12239 {
  position:absolute;
  left:182px;
  top:364px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12240 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12241 {
  position:absolute;
  left:124px;
  top:412px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12242 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:26px;
}
#u12243 {
  position:absolute;
  left:371px;
  top:412px;
  width:1px;
  height:25px;
}
#u12244 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u12245 {
  position:absolute;
  left:389px;
  top:415px;
  width:66px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u12246 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(254, 240, 177, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12247 {
  position:absolute;
  left:218px;
  top:472px;
  width:140px;
  height:40px;
  color:#999999;
}
#u12248 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12249 {
  position:absolute;
  left:155px;
  top:534px;
  width:267px;
  height:16px;
  color:#999999;
}
#u12250 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u12251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12251 {
  position:absolute;
  left:112px;
  top:238px;
  width:30px;
  height:30px;
}
#u12252 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEC213;
}
#u12253 {
  position:absolute;
  left:486px;
  top:604px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEC213;
}
#u12254 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u12255 {
  position:absolute;
  left:486px;
  top:421px;
  width:93px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u12256 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(254, 194, 19, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12257 {
  position:absolute;
  left:486px;
  top:656px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12258 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12259 {
  position:absolute;
  left:120px;
  top:449px;
  width:185px;
  height:16px;
  color:#FF0000;
}
#u12260 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u12261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12261 {
  position:absolute;
  left:120px;
  top:465px;
  width:71px;
  height:16px;
  color:#FF0000;
}
#u12262 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEC213;
}
#u12263 {
  position:absolute;
  left:486px;
  top:630px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FEC213;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u12265 {
  position:absolute;
  left:486px;
  top:399px;
  width:66px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u12266 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(254, 240, 177, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12267 {
  position:absolute;
  left:486px;
  top:465px;
  width:140px;
  height:40px;
  color:#999999;
}
#u12268 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u12269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u12269 {
  position:absolute;
  left:486px;
  top:443px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#C9C9C9;
}
#u12270 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12271 {
  position:absolute;
  left:486px;
  top:366px;
  width:108px;
  height:23px;
  text-align:left;
}
#u12272 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u12273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12273 {
  position:absolute;
  left:486px;
  top:571px;
  width:108px;
  height:23px;
  text-align:left;
}
#u12274 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u12275 {
  position:absolute;
  left:706px;
  top:102px;
  width:939px;
  height:715px;
}
#u12276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u12276 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u12277 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u12278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u12278 {
  position:absolute;
  left:227px;
  top:0px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u12279 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  word-wrap:break-word;
}
#u12280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u12280 {
  position:absolute;
  left:0px;
  top:30px;
  width:227px;
  height:36px;
  font-size:14px;
}
#u12281 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u12282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:36px;
}
#u12282 {
  position:absolute;
  left:227px;
  top:30px;
  width:707px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u12283 {
  position:absolute;
  left:2px;
  top:10px;
  width:703px;
  word-wrap:break-word;
}
#u12284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u12284 {
  position:absolute;
  left:0px;
  top:66px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u12285 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u12286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u12286 {
  position:absolute;
  left:227px;
  top:66px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u12287 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  word-wrap:break-word;
}
#u12288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:519px;
}
#u12288 {
  position:absolute;
  left:0px;
  top:96px;
  width:227px;
  height:519px;
  font-size:14px;
}
#u12289 {
  position:absolute;
  left:2px;
  top:252px;
  width:223px;
  word-wrap:break-word;
}
#u12290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:519px;
}
#u12290 {
  position:absolute;
  left:227px;
  top:96px;
  width:707px;
  height:519px;
  font-size:14px;
  text-align:left;
}
#u12291 {
  position:absolute;
  left:2px;
  top:2px;
  width:703px;
  word-wrap:break-word;
}
#u12292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u12292 {
  position:absolute;
  left:0px;
  top:615px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u12293 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u12294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u12294 {
  position:absolute;
  left:227px;
  top:615px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u12295 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  word-wrap:break-word;
}
#u12296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u12296 {
  position:absolute;
  left:0px;
  top:645px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u12297 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u12298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u12298 {
  position:absolute;
  left:227px;
  top:645px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u12299 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:35px;
}
#u12300 {
  position:absolute;
  left:0px;
  top:675px;
  width:227px;
  height:35px;
  font-size:14px;
}
#u12301 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u12302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:35px;
}
#u12302 {
  position:absolute;
  left:227px;
  top:675px;
  width:707px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u12303 {
  position:absolute;
  left:2px;
  top:10px;
  width:703px;
  word-wrap:break-word;
}
#u12304_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u12304 {
  position:absolute;
  left:112px;
  top:198px;
  width:30px;
  height:40px;
}
#u12305 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u12306_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u12306 {
  position:absolute;
  left:182px;
  top:324px;
  width:30px;
  height:40px;
}
#u12307 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u12308_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u12308 {
  position:absolute;
  left:413px;
  top:375px;
  width:30px;
  height:40px;
}
#u12309 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u12310_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u12310 {
  position:absolute;
  left:322px;
  top:437px;
  width:30px;
  height:40px;
}
#u12311 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u12312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:46px;
}
#u12312 {
  position:absolute;
  left:112px;
  top:230px;
  width:36px;
  height:46px;
  font-size:14px;
  color:#FF3399;
}
#u12313 {
  position:absolute;
  left:2px;
  top:15px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
}
#u12314 {
  position:absolute;
  left:182px;
  top:364px;
  width:212px;
  height:25px;
  font-size:14px;
  color:#FF3399;
}
#u12315 {
  position:absolute;
  left:2px;
  top:4px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
}
#u12316 {
  position:absolute;
  left:124px;
  top:409px;
  width:212px;
  height:25px;
  font-size:14px;
  color:#FF3399;
}
#u12317 {
  position:absolute;
  left:2px;
  top:4px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12318_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u12318 {
  position:absolute;
  left:135px;
  top:375px;
  width:30px;
  height:40px;
}
#u12319 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u12320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u12320 {
  position:absolute;
  left:389px;
  top:415px;
  width:66px;
  height:16px;
  font-size:14px;
  color:#FF3399;
}
#u12321 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:45px;
}
#u12322 {
  position:absolute;
  left:215px;
  top:469px;
  width:145px;
  height:45px;
  font-size:14px;
  color:#FF3399;
}
#u12323 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
