body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1622px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:987px;
}
#u6052 {
  position:absolute;
  left:100px;
  top:116px;
  width:375px;
  height:987px;
}
#u6053 {
  position:absolute;
  left:2px;
  top:486px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1019px;
}
#u6054 {
  position:absolute;
  left:673px;
  top:100px;
  width:375px;
  height:1019px;
}
#u6055 {
  position:absolute;
  left:2px;
  top:502px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:948px;
}
#u6056 {
  position:absolute;
  left:1247px;
  top:100px;
  width:375px;
  height:948px;
}
#u6057 {
  position:absolute;
  left:2px;
  top:466px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
