body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9923 {
  position:absolute;
  left:100px;
  top:100px;
}
#u9923_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9923_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:669px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9925 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:669px;
}
#u9926 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:925px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9928 {
  position:absolute;
  left:2px;
  top:2px;
  width:372px;
  height:925px;
}
#u9929 {
  position:absolute;
  left:2px;
  top:454px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:793px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9930 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:793px;
}
#u9931 {
  position:absolute;
  left:2px;
  top:388px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9932 {
  position:absolute;
  left:104px;
  top:30px;
  width:168px;
  height:10px;
}
#u9933 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9934 {
  position:absolute;
  left:104px;
  top:894px;
  width:168px;
  height:10px;
}
#u9935 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9937 {
  position:absolute;
  left:8px;
  top:72px;
  width:360px;
  height:24px;
}
#u9938 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u9939 {
  position:absolute;
  left:260px;
  top:78px;
  width:100px;
  height:13px;
}
#u9940 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u9943 {
  position:absolute;
  left:8px;
  top:96px;
  width:360px;
  height:56px;
}
#u9944 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u9945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9945 {
  position:absolute;
  left:8px;
  top:104px;
  width:40px;
  height:40px;
}
#u9946 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9947 {
  position:absolute;
  left:48px;
  top:114px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9948 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9949 {
  position:absolute;
  left:8px;
  top:96px;
  width:104px;
  height:56px;
}
#u9949_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9949.mouseDown {
}
#u9950 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9951 {
  position:absolute;
  left:8px;
  top:206px;
  width:360px;
  height:56px;
}
#u9952 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2B2B2C;
}
#u9953 {
  position:absolute;
  left:25px;
  top:226px;
  width:29px;
  height:16px;
  font-size:14px;
  color:#2B2B2C;
}
#u9954 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9955 {
  position:absolute;
  left:71px;
  top:226px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9956 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9957 {
  position:absolute;
  left:116px;
  top:226px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9958 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9959 {
  position:absolute;
  left:162px;
  top:226px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9960 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:78px;
}
#u9963 {
  position:absolute;
  left:17px;
  top:272px;
  width:97px;
  height:78px;
}
#u9964 {
  position:absolute;
  left:2px;
  top:31px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u9965 {
  position:absolute;
  left:124px;
  top:272px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u9966 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u9967 {
  position:absolute;
  left:221px;
  top:274px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u9968 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9969 {
  position:absolute;
  left:124px;
  top:326px;
  width:102px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9970 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u9971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9971 {
  position:absolute;
  left:124px;
  top:301px;
  width:111px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9972 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u9973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9973 {
  position:absolute;
  left:124px;
  top:351px;
  width:56px;
  height:22px;
}
#u9974 {
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u9975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9975 {
  position:absolute;
  left:190px;
  top:351px;
  width:56px;
  height:22px;
}
#u9976 {
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u9977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9977 {
  position:absolute;
  left:256px;
  top:351px;
  width:56px;
  height:22px;
}
#u9978 {
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u9979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9979 {
  position:absolute;
  left:124px;
  top:383px;
  width:32px;
  height:22px;
  color:#FFFFFF;
}
#u9980 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  word-wrap:break-word;
}
#u9981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9981 {
  position:absolute;
  left:161px;
  top:387px;
  width:82px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9982 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u9983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u9983 {
  position:absolute;
  left:8px;
  top:412px;
  width:360px;
  height:1px;
}
#u9984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:76px;
}
#u9986 {
  position:absolute;
  left:16px;
  top:574px;
  width:344px;
  height:75px;
  font-size:12px;
}
#u9987 {
  position:absolute;
  left:2px;
  top:30px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#2B2B2C;
}
#u9988 {
  position:absolute;
  left:92px;
  top:594px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#2B2B2C;
}
#u9989 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#2B2B2C;
}
#u9990 {
  position:absolute;
  left:92px;
  top:613px;
  width:118px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#2B2B2C;
}
#u9991 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u9992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#5E5E5E;
}
#u9992 {
  position:absolute;
  left:275px;
  top:598px;
  width:76px;
  height:28px;
  font-size:14px;
  color:#5E5E5E;
}
#u9992_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#5E5E5E;
}
#u9992.mouseDown {
}
#u9993 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u9994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:78px;
}
#u9996 {
  position:absolute;
  left:17px;
  top:423px;
  width:97px;
  height:78px;
}
#u9997 {
  position:absolute;
  left:2px;
  top:31px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u9998 {
  position:absolute;
  left:124px;
  top:423px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u9999 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10000 {
  position:absolute;
  left:221px;
  top:425px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u10001 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10002 {
  position:absolute;
  left:124px;
  top:477px;
  width:102px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10003 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u10004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10004 {
  position:absolute;
  left:124px;
  top:452px;
  width:111px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10005 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u10006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10006 {
  position:absolute;
  left:124px;
  top:502px;
  width:56px;
  height:22px;
}
#u10007 {
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u10008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10008 {
  position:absolute;
  left:190px;
  top:502px;
  width:56px;
  height:22px;
}
#u10009 {
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u10010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10010 {
  position:absolute;
  left:256px;
  top:502px;
  width:56px;
  height:22px;
}
#u10011 {
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u10012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10012 {
  position:absolute;
  left:124px;
  top:534px;
  width:32px;
  height:22px;
  color:#FFFFFF;
}
#u10013 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  word-wrap:break-word;
}
#u10014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10014 {
  position:absolute;
  left:161px;
  top:538px;
  width:106px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10015 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u10016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10016 {
  position:absolute;
  left:245px;
  top:452px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u10017 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u10018 {
  position:absolute;
  left:266px;
  top:475px;
  width:91px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u10019 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u10020 {
  position:absolute;
  left:8px;
  top:563px;
  width:360px;
  height:1px;
}
#u10021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u10025 {
  position:absolute;
  left:16px;
  top:155px;
  width:344px;
  height:48px;
}
#u10026 {
  position:absolute;
  left:2px;
  top:16px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10027 {
  position:absolute;
  left:62px;
  top:163px;
  width:234px;
  height:32px;
}
#u10027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:32px;
  background-color:#FAFAFA;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#727272;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10028 {
  position:absolute;
  left:35px;
  top:172px;
  width:18px;
  height:18px;
}
#u10029 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10030 {
  position:absolute;
  left:17px;
  top:264px;
  width:349px;
  height:300px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10031 {
  position:absolute;
  left:16px;
  top:106px;
  width:77px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u10032 {
  position:absolute;
  left:104px;
  top:677px;
  width:200px;
  height:1px;
}
#u10033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  word-wrap:break-word;
}
#u10034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10035 {
  position:absolute;
  left:8px;
  top:791px;
  width:360px;
  height:74px;
}
#u10036 {
  position:absolute;
  left:2px;
  top:29px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10037_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u10037 {
  position:absolute;
  left:8px;
  top:791px;
  width:360px;
  height:2px;
}
#u10038 {
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u10039 {
  position:absolute;
  left:26px;
  top:833px;
  width:23px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u10040 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u10041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10041 {
  position:absolute;
  left:24px;
  top:803px;
  width:25px;
  height:25px;
  color:#999999;
}
#u10042 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u10043 {
  position:absolute;
  left:171px;
  top:833px;
  width:34px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u10044 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u10045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10045 {
  position:absolute;
  left:177px;
  top:803px;
  width:25px;
  height:25px;
}
#u10046 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u10047 {
  position:absolute;
  left:246px;
  top:833px;
  width:45px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u10048 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10049 {
  position:absolute;
  left:254px;
  top:803px;
  width:25px;
  height:25px;
}
#u10050 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u10051 {
  position:absolute;
  left:333px;
  top:833px;
  width:23px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u10052 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u10053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10053 {
  position:absolute;
  left:331px;
  top:803px;
  width:25px;
  height:25px;
}
#u10054 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u10055 {
  position:absolute;
  left:88px;
  top:833px;
  width:45px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u10056 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10057 {
  position:absolute;
  left:98px;
  top:803px;
  width:25px;
  height:25px;
}
#u10058 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10059 {
  position:absolute;
  left:501px;
  top:20px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10060 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u10061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10061 {
  position:absolute;
  left:511px;
  top:160px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10062 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:267px;
}
#u10063 {
  position:absolute;
  left:511px;
  top:250px;
  width:358px;
  height:267px;
}
#u10064 {
  position:absolute;
  left:2px;
  top:126px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10065 {
  position:absolute;
  left:809px;
  top:386px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u10065_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u10065_seg1 {
  position:absolute;
  left:118px;
  top:-6px;
  width:8px;
  height:10px;
}
#u10065_seg2 {
  position:absolute;
  left:118px;
  top:-6px;
  width:113px;
  height:8px;
}
#u10065_seg3 {
  position:absolute;
  left:214px;
  top:-12px;
  width:21px;
  height:20px;
}
#u10066 {
  position:absolute;
  left:66px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
#u10067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:620px;
}
#u10067 {
  position:absolute;
  left:1040px;
  top:74px;
  width:346px;
  height:620px;
}
#u10068 {
  position:absolute;
  left:2px;
  top:302px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:778px;
}
#u10069 {
  position:absolute;
  left:501px;
  top:67px;
  width:946px;
  height:778px;
}
#u10070 {
  position:absolute;
  left:2px;
  top:381px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:115px;
}
#u10071 {
  position:absolute;
  left:501px;
  top:1054px;
  width:349px;
  height:115px;
}
#u10072 {
  position:absolute;
  left:2px;
  top:50px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:763px;
}
#u10073 {
  position:absolute;
  left:1040px;
  top:880px;
  width:362px;
  height:763px;
}
#u10074 {
  position:absolute;
  left:2px;
  top:374px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10075 {
  position:absolute;
  left:511px;
  top:880px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10076 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10077 {
  position:absolute;
  left:805px;
  top:1138px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u10077_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:130px;
  height:8px;
}
#u10077_seg1 {
  position:absolute;
  left:122px;
  top:-4px;
  width:8px;
  height:92px;
}
#u10077_seg2 {
  position:absolute;
  left:122px;
  top:80px;
  width:122px;
  height:8px;
}
#u10077_seg3 {
  position:absolute;
  left:227px;
  top:74px;
  width:21px;
  height:20px;
}
#u10078 {
  position:absolute;
  left:76px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u10079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:813px;
}
#u10079 {
  position:absolute;
  left:501px;
  top:855px;
  width:946px;
  height:813px;
}
#u10080 {
  position:absolute;
  left:2px;
  top:398px;
  width:942px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10081 {
  position:absolute;
  left:690px;
  top:250px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u10081_seg0 {
  position:absolute;
  left:-4px;
  top:-69px;
  width:8px;
  height:69px;
}
#u10081_seg1 {
  position:absolute;
  left:-4px;
  top:-69px;
  width:383px;
  height:8px;
}
#u10081_seg2 {
  position:absolute;
  left:-10px;
  top:-17px;
  width:20px;
  height:21px;
}
#u10082 {
  position:absolute;
  left:107px;
  top:-73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10083 {
  position:absolute;
  left:676px;
  top:1054px;
  width:0px;
  height:0px;
  color:#1E1E1E;
}
#u10083_seg0 {
  position:absolute;
  left:-4px;
  top:-58px;
  width:8px;
  height:58px;
}
#u10083_seg1 {
  position:absolute;
  left:-4px;
  top:-58px;
  width:401px;
  height:8px;
}
#u10083_seg2 {
  position:absolute;
  left:-10px;
  top:-17px;
  width:20px;
  height:21px;
}
#u10084 {
  position:absolute;
  left:122px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
