body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1998px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:823px;
}
#u1326 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:823px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:404px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:72px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u1330 {
  position:absolute;
  left:515px;
  top:1277px;
  width:344px;
  height:72px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:28px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1332 {
  position:absolute;
  left:529px;
  top:1289px;
  width:40px;
  height:40px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u1335 {
  position:absolute;
  left:589px;
  top:1300px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1337 {
  position:absolute;
  left:817px;
  top:1299px;
  width:28px;
  height:28px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1340 {
  position:absolute;
  left:100px;
  top:1200px;
  width:376px;
  height:792px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1071px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1343 {
  position:absolute;
  left:102px;
  top:1202px;
  width:372px;
  height:1071px;
}
#u1344 {
  position:absolute;
  left:2px;
  top:528px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:946px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1345 {
  position:absolute;
  left:108px;
  top:1272px;
  width:360px;
  height:946px;
}
#u1346 {
  position:absolute;
  left:2px;
  top:465px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1347 {
  position:absolute;
  left:204px;
  top:1230px;
  width:168px;
  height:10px;
}
#u1348 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  position:absolute;
  left:204px;
  top:2237px;
  width:168px;
  height:10px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352 {
  position:absolute;
  left:108px;
  top:1272px;
  width:360px;
  height:24px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u1354 {
  position:absolute;
  left:360px;
  top:1278px;
  width:100px;
  height:13px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  position:absolute;
  left:122px;
  top:1315px;
  width:29px;
  height:16px;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1358 {
  position:absolute;
  left:108px;
  top:1348px;
  width:360px;
  height:1px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u1360 {
  position:absolute;
  left:412px;
  top:1306px;
  width:48px;
  height:35px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u1362 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:72px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u1364 {
  position:absolute;
  left:116px;
  top:1359px;
  width:344px;
  height:72px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:28px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1366 {
  position:absolute;
  left:130px;
  top:1371px;
  width:40px;
  height:40px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u1369 {
  position:absolute;
  left:190px;
  top:1382px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1371 {
  position:absolute;
  left:418px;
  top:1381px;
  width:28px;
  height:28px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:113px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1374 {
  position:absolute;
  left:116px;
  top:1442px;
  width:344px;
  height:113px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:48px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1376 {
  position:absolute;
  left:130px;
  top:1452px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1378 {
  position:absolute;
  left:360px;
  top:1452px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1379 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1381 {
  position:absolute;
  left:130px;
  top:1488px;
  width:35px;
  height:35px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1383 {
  position:absolute;
  left:130px;
  top:1529px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1386 {
  position:absolute;
  left:223px;
  top:1488px;
  width:35px;
  height:35px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1388 {
  position:absolute;
  left:223px;
  top:1529px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1389 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1391 {
  position:absolute;
  left:316px;
  top:1488px;
  width:35px;
  height:35px;
}
#u1392 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1393 {
  position:absolute;
  left:316px;
  top:1529px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1396 {
  position:absolute;
  left:409px;
  top:1488px;
  width:35px;
  height:35px;
}
#u1397 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1398 {
  position:absolute;
  left:401px;
  top:1529px;
  width:52px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1400 {
  position:absolute;
  left:433px;
  top:1452px;
  width:15px;
  height:15px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:114px;
}
#u1402 {
  position:absolute;
  left:120px;
  top:1565px;
  width:344px;
  height:113px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:48px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1404 {
  position:absolute;
  left:128px;
  top:1573px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1406 {
  position:absolute;
  left:393px;
  top:1573px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1408 {
  position:absolute;
  left:442px;
  top:1573px;
  width:15px;
  height:15px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1410 {
  position:absolute;
  left:242px;
  top:1587px;
  width:85px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1411 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1412 {
  position:absolute;
  left:327px;
  top:1587px;
  width:15px;
  height:15px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u1414 {
  position:absolute;
  left:223px;
  top:1612px;
  width:139px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1416 {
  position:absolute;
  left:215px;
  top:1652px;
  width:155px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:96px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1418 {
  position:absolute;
  left:121px;
  top:1688px;
  width:344px;
  height:96px;
}
#u1419 {
  position:absolute;
  left:2px;
  top:40px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1421 {
  position:absolute;
  left:151px;
  top:1709px;
  width:35px;
  height:35px;
}
#u1422 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1423 {
  position:absolute;
  left:144px;
  top:1750px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1425 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1426 {
  position:absolute;
  left:282px;
  top:1709px;
  width:35px;
  height:35px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1428 {
  position:absolute;
  left:275px;
  top:1750px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1431 {
  position:absolute;
  left:413px;
  top:1709px;
  width:35px;
  height:35px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1433 {
  position:absolute;
  left:406px;
  top:1750px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1434 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1436 {
  position:absolute;
  left:116px;
  top:1933px;
  width:344px;
  height:45px;
}
#u1437 {
  position:absolute;
  left:2px;
  top:14px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1438 {
  position:absolute;
  left:123px;
  top:1946px;
  width:77px;
  height:16px;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1440 {
  position:absolute;
  left:419px;
  top:1937px;
  width:35px;
  height:35px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 89, 24, 1);
  border:none;
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1442 {
  position:absolute;
  left:249px;
  top:1482px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1443 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u1444 {
  position:absolute;
  left:123px;
  top:1449px;
  width:330px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1445 {
  position:absolute;
  left:120px;
  top:1565px;
  width:344px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1446 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:72px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u1447 {
  position:absolute;
  left:515px;
  top:1359px;
  width:344px;
  height:72px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:28px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1449 {
  position:absolute;
  left:529px;
  top:1371px;
  width:40px;
  height:40px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u1452 {
  position:absolute;
  left:589px;
  top:1382px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1454 {
  position:absolute;
  left:817px;
  top:1381px;
  width:28px;
  height:28px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1457 {
  position:absolute;
  left:116px;
  top:1988px;
  width:344px;
  height:45px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:14px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
}
#u1459 {
  position:absolute;
  left:123px;
  top:2001px;
  width:91px;
  height:16px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
}
#u1460 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1461 {
  position:absolute;
  left:419px;
  top:1992px;
  width:35px;
  height:35px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1464 {
  position:absolute;
  left:565px;
  top:1616px;
  width:300px;
  height:170px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u1466 {
  position:absolute;
  left:651px;
  top:1633px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u1467 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u1468 {
  position:absolute;
  left:614px;
  top:1659px;
  width:203px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u1469 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u1470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1471 {
  position:absolute;
  left:638px;
  top:1688px;
  width:45px;
  height:45px;
}
#u1472 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1473 {
  position:absolute;
  left:693px;
  top:1688px;
  width:45px;
  height:45px;
}
#u1474 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1475 {
  position:absolute;
  left:748px;
  top:1688px;
  width:45px;
  height:45px;
}
#u1476 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#5E5E5E;
}
#u1477 {
  position:absolute;
  left:615px;
  top:1743px;
  width:202px;
  height:36px;
  font-size:14px;
  color:#5E5E5E;
}
#u1477_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:36px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#5E5E5E;
}
#u1477.mouseDown {
}
#u1478 {
  position:absolute;
  left:2px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u1479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1479 {
  position:absolute;
  left:847px;
  top:1606px;
  width:30px;
  height:30px;
}
#u1480 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:68px;
}
#u1481 {
  position:absolute;
  left:116px;
  top:1794px;
  width:344px;
  height:67px;
}
#u1482 {
  position:absolute;
  left:2px;
  top:18px;
  width:340px;
  word-wrap:break-word;
}
#u1483 {
  position:absolute;
  left:116px;
  top:1794px;
  width:344px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1484 {
  position:absolute;
  left:622px;
  top:1289px;
  width:59px;
  height:20px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  word-wrap:break-word;
}
#u1486 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1487 {
  position:absolute;
  left:108px;
  top:2144px;
  width:360px;
  height:74px;
}
#u1488 {
  position:absolute;
  left:2px;
  top:29px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u1489 {
  position:absolute;
  left:108px;
  top:2144px;
  width:360px;
  height:2px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u1491 {
  position:absolute;
  left:126px;
  top:2186px;
  width:23px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u1492 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1493 {
  position:absolute;
  left:124px;
  top:2156px;
  width:25px;
  height:25px;
  color:#999999;
}
#u1494 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u1495 {
  position:absolute;
  left:271px;
  top:2186px;
  width:34px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u1496 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1497 {
  position:absolute;
  left:277px;
  top:2156px;
  width:25px;
  height:25px;
}
#u1498 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u1499 {
  position:absolute;
  left:346px;
  top:2186px;
  width:45px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u1500 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1501 {
  position:absolute;
  left:354px;
  top:2156px;
  width:25px;
  height:25px;
}
#u1502 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u1503 {
  position:absolute;
  left:433px;
  top:2186px;
  width:23px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u1504 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1505 {
  position:absolute;
  left:431px;
  top:2156px;
  width:25px;
  height:25px;
}
#u1506 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u1507 {
  position:absolute;
  left:188px;
  top:2186px;
  width:45px;
  height:13px;
  font-size:11px;
  color:#999999;
}
#u1508 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1509 {
  position:absolute;
  left:198px;
  top:2156px;
  width:25px;
  height:25px;
}
#u1510 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1511 {
  position:absolute;
  left:725px;
  top:107px;
  width:375px;
  height:667px;
}
#u1512 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1513 {
  position:absolute;
  left:368px;
  top:446px;
  width:0px;
  height:0px;
}
#u1513_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1513_seg1 {
  position:absolute;
  left:98px;
  top:-4px;
  width:8px;
  height:22px;
}
#u1513_seg2 {
  position:absolute;
  left:98px;
  top:10px;
  width:24px;
  height:8px;
}
#u1513_seg3 {
  position:absolute;
  left:114px;
  top:-6px;
  width:8px;
  height:24px;
}
#u1513_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1513_seg5 {
  position:absolute;
  left:108px;
  top:-15px;
  width:20px;
  height:20px;
}
#u1514 {
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1516 {
  position:absolute;
  left:485px;
  top:433px;
  width:137px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1517 {
  position:absolute;
  left:5px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1518 {
  position:absolute;
  left:485px;
  top:433px;
  width:1px;
  height:14px;
}
#u1519 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520 {
  position:absolute;
  left:791px;
  top:295px;
  width:0px;
  height:0px;
}
#u1520_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u1520_seg1 {
  position:absolute;
  left:-4px;
  top:91px;
  width:410px;
  height:8px;
}
#u1520_seg2 {
  position:absolute;
  left:398px;
  top:63px;
  width:8px;
  height:36px;
}
#u1520_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1520_seg4 {
  position:absolute;
  left:392px;
  top:54px;
  width:20px;
  height:20px;
}
#u1521 {
  position:absolute;
  left:120px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1523 {
  position:absolute;
  left:1192px;
  top:351px;
  width:179px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1524 {
  position:absolute;
  left:5px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1525 {
  position:absolute;
  left:1192px;
  top:351px;
  width:1px;
  height:14px;
}
#u1526 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1527 {
  position:absolute;
  left:368px;
  top:691px;
  width:0px;
  height:0px;
}
#u1527_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1527_seg1 {
  position:absolute;
  left:98px;
  top:-4px;
  width:8px;
  height:27px;
}
#u1527_seg2 {
  position:absolute;
  left:98px;
  top:15px;
  width:24px;
  height:8px;
}
#u1527_seg3 {
  position:absolute;
  left:114px;
  top:-6px;
  width:8px;
  height:29px;
}
#u1527_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1527_seg5 {
  position:absolute;
  left:108px;
  top:-15px;
  width:20px;
  height:20px;
}
#u1528 {
  position:absolute;
  left:31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1530 {
  position:absolute;
  left:485px;
  top:678px;
  width:137px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1531 {
  position:absolute;
  left:5px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1532 {
  position:absolute;
  left:485px;
  top:678px;
  width:1px;
  height:14px;
}
#u1533 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1534 {
  position:absolute;
  left:378px;
  top:749px;
  width:0px;
  height:0px;
}
#u1534_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u1534_seg1 {
  position:absolute;
  left:88px;
  top:-4px;
  width:8px;
  height:19px;
}
#u1534_seg2 {
  position:absolute;
  left:88px;
  top:7px;
  width:24px;
  height:8px;
}
#u1534_seg3 {
  position:absolute;
  left:104px;
  top:-6px;
  width:8px;
  height:21px;
}
#u1534_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1534_seg5 {
  position:absolute;
  left:98px;
  top:-15px;
  width:20px;
  height:20px;
}
#u1535 {
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1536 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1537 {
  position:absolute;
  left:485px;
  top:736px;
  width:137px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1538 {
  position:absolute;
  left:5px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1539 {
  position:absolute;
  left:485px;
  top:736px;
  width:1px;
  height:14px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541 {
  position:absolute;
  left:378px;
  top:359px;
  width:0px;
  height:0px;
}
#u1541_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u1541_seg1 {
  position:absolute;
  left:88px;
  top:-4px;
  width:8px;
  height:19px;
}
#u1541_seg2 {
  position:absolute;
  left:88px;
  top:7px;
  width:34px;
  height:8px;
}
#u1541_seg3 {
  position:absolute;
  left:114px;
  top:-6px;
  width:8px;
  height:21px;
}
#u1541_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1541_seg5 {
  position:absolute;
  left:108px;
  top:-15px;
  width:20px;
  height:20px;
}
#u1542 {
  position:absolute;
  left:23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1544 {
  position:absolute;
  left:495px;
  top:346px;
  width:137px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1545 {
  position:absolute;
  left:5px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1546 {
  position:absolute;
  left:495px;
  top:346px;
  width:1px;
  height:14px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1548 {
  position:absolute;
  left:1222px;
  top:107px;
  width:375px;
  height:667px;
}
#u1549 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1550 {
  position:absolute;
  left:1511px;
  top:346px;
  width:0px;
  height:0px;
}
#u1550_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u1550_seg1 {
  position:absolute;
  left:-4px;
  top:50px;
  width:173px;
  height:8px;
}
#u1550_seg2 {
  position:absolute;
  left:161px;
  top:28px;
  width:8px;
  height:30px;
}
#u1550_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1550_seg4 {
  position:absolute;
  left:155px;
  top:19px;
  width:20px;
  height:20px;
}
#u1551 {
  position:absolute;
  left:18px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1553 {
  position:absolute;
  left:1675px;
  top:367px;
  width:323px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1554 {
  position:absolute;
  left:5px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u1555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1555 {
  position:absolute;
  left:1675px;
  top:367px;
  width:1px;
  height:14px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
