body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:770px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3853 {
  position:absolute;
  left:800px;
  top:100px;
  width:376px;
  height:770px;
}
#u3854 {
  position:absolute;
  left:2px;
  top:377px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:768px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3856 {
  position:absolute;
  left:802px;
  top:102px;
  width:372px;
  height:768px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:376px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:641px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3858 {
  position:absolute;
  left:808px;
  top:172px;
  width:360px;
  height:641px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3860 {
  position:absolute;
  left:904px;
  top:130px;
  width:168px;
  height:10px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3862 {
  position:absolute;
  left:904px;
  top:831px;
  width:168px;
  height:10px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3864 {
  position:absolute;
  left:808px;
  top:304px;
  width:360px;
  height:48px;
  text-align:left;
}
#u3864_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3864.mouseDown {
}
#u3865 {
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3866 {
  position:absolute;
  left:808px;
  top:353px;
  width:360px;
  height:48px;
  text-align:left;
}
#u3866_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3866.mouseDown {
}
#u3867 {
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3868 {
  position:absolute;
  left:808px;
  top:449px;
  width:360px;
  height:48px;
  text-align:left;
}
#u3868_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3868.mouseDown {
}
#u3869 {
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3870 {
  position:absolute;
  left:808px;
  top:497px;
  width:360px;
  height:48px;
  text-align:left;
}
#u3870_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3870.mouseDown {
}
#u3871 {
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3872 {
  position:absolute;
  left:1128px;
  top:315px;
  width:28px;
  height:28px;
}
#u3873 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3874 {
  position:absolute;
  left:1128px;
  top:363px;
  width:28px;
  height:28px;
}
#u3875 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u3878 {
  position:absolute;
  left:808px;
  top:172px;
  width:360px;
  height:56px;
}
#u3879 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3880 {
  position:absolute;
  left:808px;
  top:180px;
  width:40px;
  height:40px;
}
#u3881 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3882 {
  position:absolute;
  left:808px;
  top:172px;
  width:104px;
  height:56px;
}
#u3882_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3882.mouseDown {
}
#u3883 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u3884 {
  position:absolute;
  left:808px;
  top:228px;
  width:360px;
  height:29px;
  font-size:12px;
  text-align:left;
}
#u3885 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3886 {
  position:absolute;
  left:808px;
  top:545px;
  width:360px;
  height:48px;
  text-align:left;
}
#u3886_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3886.mouseDown {
}
#u3887 {
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u3888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3888 {
  position:absolute;
  left:808px;
  top:593px;
  width:360px;
  height:48px;
  text-align:left;
}
#u3888_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3888.mouseDown {
}
#u3889 {
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3890 {
  position:absolute;
  left:904px;
  top:321px;
  width:71px;
  height:16px;
  color:#999999;
}
#u3891 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3892 {
  position:absolute;
  left:904px;
  top:465px;
  width:121px;
  height:16px;
  color:#999999;
}
#u3893 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3894 {
  position:absolute;
  left:904px;
  top:513px;
  width:113px;
  height:16px;
  color:#999999;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3896 {
  position:absolute;
  left:904px;
  top:561px;
  width:183px;
  height:16px;
  color:#999999;
}
#u3897 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3898 {
  position:absolute;
  left:904px;
  top:609px;
  width:113px;
  height:16px;
  color:#999999;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3900 {
  position:absolute;
  left:904px;
  top:369px;
  width:29px;
  height:16px;
  color:#000000;
}
#u3901 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3902 {
  position:absolute;
  left:1059px;
  top:602px;
  width:97px;
  height:31px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3904 {
  position:absolute;
  left:918px;
  top:655px;
  width:140px;
  height:40px;
}
#u3905 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u3906 {
  position:absolute;
  left:877px;
  top:705px;
  width:223px;
  height:30px;
  font-size:12px;
  text-align:center;
}
#u3907 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u3908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3908 {
  position:absolute;
  left:808px;
  top:401px;
  width:360px;
  height:48px;
  text-align:left;
}
#u3908_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3908.mouseDown {
}
#u3909 {
  position:absolute;
  left:16px;
  top:16px;
  width:342px;
  word-wrap:break-word;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3910 {
  position:absolute;
  left:904px;
  top:417px;
  width:183px;
  height:16px;
  color:#999999;
}
#u3911 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3912 {
  position:absolute;
  left:800px;
  top:50px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3914 {
  position:absolute;
  left:1060px;
  top:697px;
  width:0px;
  height:0px;
}
#u3914_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u3914_seg1 {
  position:absolute;
  left:145px;
  top:-129px;
  width:8px;
  height:133px;
}
#u3914_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3914_seg3 {
  position:absolute;
  left:139px;
  top:-138px;
  width:20px;
  height:20px;
}
#u3915 {
  position:absolute;
  left:89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3917 {
  position:absolute;
  left:1208px;
  top:561px;
  width:319px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3918 {
  position:absolute;
  left:5px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u3919 {
  position:absolute;
  left:1208px;
  top:561px;
  width:1px;
  height:14px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3921 {
  position:absolute;
  left:976px;
  top:735px;
  width:0px;
  height:0px;
}
#u3921_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:237px;
  height:8px;
}
#u3921_seg1 {
  position:absolute;
  left:229px;
  top:-17px;
  width:8px;
  height:21px;
}
#u3921_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3921_seg3 {
  position:absolute;
  left:223px;
  top:-26px;
  width:20px;
  height:20px;
}
#u3922 {
  position:absolute;
  left:75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3924 {
  position:absolute;
  left:1208px;
  top:711px;
  width:441px;
  height:55px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3925 {
  position:absolute;
  left:5px;
  top:0px;
  width:431px;
  white-space:nowrap;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u3926 {
  position:absolute;
  left:1208px;
  top:711px;
  width:1px;
  height:14px;
}
#u3927 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3928 {
  position:absolute;
  left:1202px;
  top:403px;
  width:300px;
  height:140px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3929 {
  position:absolute;
  left:2px;
  top:62px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3930 {
  position:absolute;
  left:1202px;
  top:498px;
  width:150px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3930_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3930.mouseDown {
}
#u3931 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3932 {
  position:absolute;
  left:1202px;
  top:403px;
  width:300px;
  height:55px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u3934 {
  position:absolute;
  left:1202px;
  top:458px;
  width:300px;
  height:41px;
  line-height:20px;
}
#u3935 {
  position:absolute;
  left:20px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
}
#u3936 {
  position:absolute;
  left:1352px;
  top:498px;
  width:150px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
}
#u3936_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1ABC9C;
}
#u3936.mouseDown {
}
#u3937 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3938 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u3939 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3940 {
  position:absolute;
  left:100px;
  top:1104px;
  width:375px;
  height:667px;
}
#u3941 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3942 {
  position:absolute;
  left:583px;
  top:1104px;
  width:375px;
  height:667px;
}
#u3943 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3944 {
  position:absolute;
  left:1021px;
  top:1104px;
  width:375px;
  height:667px;
}
#u3945 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946 {
  position:absolute;
  left:281px;
  top:739px;
  width:0px;
  height:0px;
}
#u3946_seg0 {
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:73px;
}
#u3946_seg1 {
  position:absolute;
  left:-4px;
  top:-73px;
  width:231px;
  height:8px;
}
#u3946_seg2 {
  position:absolute;
  left:219px;
  top:-86px;
  width:8px;
  height:21px;
}
#u3946_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u3946_seg4 {
  position:absolute;
  left:213px;
  top:-95px;
  width:20px;
  height:20px;
}
#u3947 {
  position:absolute;
  left:36px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3949 {
  position:absolute;
  left:503px;
  top:646px;
  width:273px;
  height:89px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3950 {
  position:absolute;
  left:5px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u3951 {
  position:absolute;
  left:503px;
  top:646px;
  width:1px;
  height:14px;
}
#u3952 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953 {
  position:absolute;
  left:313px;
  top:247px;
  width:0px;
  height:0px;
}
#u3953_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u3953_seg1 {
  position:absolute;
  left:-4px;
  top:19px;
  width:199px;
  height:8px;
}
#u3953_seg2 {
  position:absolute;
  left:187px;
  top:3px;
  width:8px;
  height:24px;
}
#u3953_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u3953_seg4 {
  position:absolute;
  left:181px;
  top:-6px;
  width:20px;
  height:20px;
}
#u3954 {
  position:absolute;
  left:44px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3956 {
  position:absolute;
  left:503px;
  top:243px;
  width:95px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3957 {
  position:absolute;
  left:5px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u3958 {
  position:absolute;
  left:503px;
  top:243px;
  width:1px;
  height:14px;
}
#u3959 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
