body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6751 {
  position:absolute;
  left:100px;
  top:64px;
  width:129px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u6752 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6753 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6754 {
  position:absolute;
  left:100px;
  top:100px;
  width:376px;
  height:792px;
}
#u6755 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:983px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6757 {
  position:absolute;
  left:102px;
  top:102px;
  width:372px;
  height:983px;
}
#u6758 {
  position:absolute;
  left:2px;
  top:484px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:857px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6759 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:857px;
}
#u6760 {
  position:absolute;
  left:2px;
  top:420px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6761 {
  position:absolute;
  left:204px;
  top:130px;
  width:168px;
  height:10px;
}
#u6762 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6763 {
  position:absolute;
  left:204px;
  top:1048px;
  width:168px;
  height:10px;
}
#u6764 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
  background:inherit;
  background-color:rgba(114, 114, 114, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6766 {
  position:absolute;
  left:108px;
  top:172px;
  width:360px;
  height:24px;
}
#u6767 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u6768 {
  position:absolute;
  left:360px;
  top:178px;
  width:100px;
  height:13px;
}
#u6769 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6770 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6772 {
  position:absolute;
  left:108px;
  top:196px;
  width:360px;
  height:56px;
}
#u6773 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u6774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6774 {
  position:absolute;
  left:108px;
  top:204px;
  width:40px;
  height:40px;
}
#u6775 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6776 {
  position:absolute;
  left:148px;
  top:214px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6777 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6778 {
  position:absolute;
  left:108px;
  top:196px;
  width:104px;
  height:56px;
}
#u6778_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6778.mouseDown {
}
#u6779 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:126px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6780 {
  position:absolute;
  left:116px;
  top:262px;
  width:344px;
  height:126px;
}
#u6781 {
  position:absolute;
  left:2px;
  top:55px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6783 {
  position:absolute;
  left:154px;
  top:275px;
  width:73px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6784 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u6785 {
  position:absolute;
  left:137px;
  top:275px;
  width:14px;
  height:15px;
}
#u6786 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6787 {
  position:absolute;
  left:137px;
  top:292px;
  width:117px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6788 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u6789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u6789 {
  position:absolute;
  left:124px;
  top:317px;
  width:329px;
  height:1px;
}
#u6790 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u6791 {
  position:absolute;
  left:124px;
  top:387px;
  width:329px;
  height:1px;
}
#u6792 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u6793 {
  position:absolute;
  left:198px;
  top:328px;
  width:159px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u6794 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u6795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u6795 {
  position:absolute;
  left:137px;
  top:328px;
  width:52px;
  height:49px;
}
#u6796 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  word-wrap:break-word;
}
#u6797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u6797 {
  position:absolute;
  left:198px;
  top:345px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u6798 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u6799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u6799 {
  position:absolute;
  left:298px;
  top:334px;
  width:52px;
  height:1px;
}
#u6800 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6801 {
  position:absolute;
  left:370px;
  top:328px;
  width:81px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6802 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6803 {
  position:absolute;
  left:430px;
  top:354px;
  width:13px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6804 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u6805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6805 {
  position:absolute;
  left:154px;
  top:1002px;
  width:248px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u6806 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u6807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:147px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u6807 {
  position:absolute;
  left:117px;
  top:411px;
  width:344px;
  height:147px;
}
#u6808 {
  position:absolute;
  left:2px;
  top:66px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u6809 {
  position:absolute;
  left:124px;
  top:426px;
  width:146px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u6810 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u6811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u6811 {
  position:absolute;
  left:124px;
  top:455px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u6812 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u6813 {
  position:absolute;
  left:124px;
  top:490px;
  width:329px;
  height:56px;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u6814 {
  position:absolute;
  left:2px;
  top:20px;
  width:325px;
  word-wrap:break-word;
}
#u6815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6815 {
  position:absolute;
  left:108px;
  top:973px;
  width:360px;
  height:56px;
}
#u6816 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:35px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
}
#u6817 {
  position:absolute;
  left:133px;
  top:984px;
  width:311px;
  height:35px;
}
#u6817_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:35px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
}
#u6817.mouseDown {
}
#u6818 {
  position:absolute;
  left:2px;
  top:10px;
  width:307px;
  word-wrap:break-word;
}
