body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1465px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4489 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u4490 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4491 {
  position:absolute;
  left:583px;
  top:100px;
  width:375px;
  height:667px;
}
#u4492 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4493 {
  position:absolute;
  left:100px;
  top:1021px;
  width:375px;
  height:667px;
}
#u4494 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4495 {
  position:absolute;
  left:583px;
  top:1021px;
  width:375px;
  height:667px;
}
#u4496 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4497 {
  position:absolute;
  left:1080px;
  top:1021px;
  width:375px;
  height:667px;
}
#u4498 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4499 {
  position:absolute;
  left:1090px;
  top:100px;
  width:375px;
  height:667px;
}
#u4500 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
