body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1876px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:813px;
  top:100px;
  width:376px;
  height:792px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:788px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:815px;
  top:102px;
  width:372px;
  height:788px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:386px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:660px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  position:absolute;
  left:821px;
  top:172px;
  width:360px;
  height:660px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:322px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2054 {
  position:absolute;
  left:917px;
  top:130px;
  width:168px;
  height:10px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:917px;
  top:861px;
  width:168px;
  height:10px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u2060 {
  position:absolute;
  left:821px;
  top:172px;
  width:360px;
  height:56px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2062 {
  position:absolute;
  left:821px;
  top:180px;
  width:40px;
  height:40px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064 {
  position:absolute;
  left:821px;
  top:172px;
  width:104px;
  height:56px;
}
#u2064_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064.mouseDown {
}
#u2065 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u2066 {
  position:absolute;
  left:837px;
  top:238px;
  width:187px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#2B2B2C;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2069 {
  position:absolute;
  left:848px;
  top:283px;
  width:50px;
  height:50px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u2071 {
  position:absolute;
  left:908px;
  top:283px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2073 {
  position:absolute;
  left:908px;
  top:334px;
  width:168px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u2075 {
  position:absolute;
  left:957px;
  top:283px;
  width:40px;
  height:19px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2077 {
  position:absolute;
  left:821px;
  top:359px;
  width:360px;
  height:1px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#009688;
}
#u2079 {
  position:absolute;
  left:1086px;
  top:300px;
  width:88px;
  height:37px;
  font-size:14px;
  color:#009688;
}
#u2079_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#009688;
}
#u2079.mouseDown {
}
#u2080 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2081 {
  position:absolute;
  left:908px;
  top:310px;
  width:189px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u2083 {
  position:absolute;
  left:1007px;
  top:283px;
  width:58px;
  height:19px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2086 {
  position:absolute;
  left:848px;
  top:370px;
  width:50px;
  height:50px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u2088 {
  position:absolute;
  left:908px;
  top:370px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2090 {
  position:absolute;
  left:908px;
  top:421px;
  width:168px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u2092 {
  position:absolute;
  left:957px;
  top:370px;
  width:40px;
  height:19px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u2094 {
  position:absolute;
  left:821px;
  top:446px;
  width:360px;
  height:1px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#009688;
}
#u2096 {
  position:absolute;
  left:1086px;
  top:387px;
  width:88px;
  height:37px;
  font-size:14px;
  color:#009688;
}
#u2096_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#009688;
}
#u2096.mouseDown {
}
#u2097 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2098 {
  position:absolute;
  left:908px;
  top:397px;
  width:189px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u2100 {
  position:absolute;
  left:1007px;
  top:370px;
  width:58px;
  height:19px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2102 {
  position:absolute;
  left:962px;
  top:460px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2104 {
  position:absolute;
  left:823px;
  top:296px;
  width:25px;
  height:25px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2106 {
  position:absolute;
  left:823px;
  top:383px;
  width:25px;
  height:25px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u2108 {
  position:absolute;
  left:973px;
  top:274px;
  width:0px;
  height:0px;
}
#u2108_seg0 {
  position:absolute;
  left:-177px;
  top:-4px;
  width:177px;
  height:8px;
}
#u2108_seg1 {
  position:absolute;
  left:-177px;
  top:-188px;
  width:8px;
  height:192px;
}
#u2108_seg2 {
  position:absolute;
  left:-177px;
  top:-188px;
  width:428px;
  height:8px;
}
#u2108_seg3 {
  position:absolute;
  left:243px;
  top:-188px;
  width:8px;
  height:148px;
}
#u2108_seg4 {
  position:absolute;
  left:243px;
  top:-48px;
  width:22px;
  height:8px;
}
#u2108_seg5 {
  position:absolute;
  left:257px;
  top:-70px;
  width:8px;
  height:30px;
}
#u2108_seg6 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2108_seg7 {
  position:absolute;
  left:251px;
  top:-79px;
  width:20px;
  height:20px;
}
#u2109 {
  position:absolute;
  left:-102px;
  top:-192px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u2111 {
  position:absolute;
  left:1233px;
  top:197px;
  width:643px;
  height:347px;
  font-size:14px;
}
#u2112 {
  position:absolute;
  left:5px;
  top:0px;
  width:633px;
  white-space:nowrap;
}
#u2113_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u2113 {
  position:absolute;
  left:1233px;
  top:197px;
  width:2px;
  height:14px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115 {
  position:absolute;
  left:815px;
  top:265px;
  width:278px;
  height:182px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2116 {
  position:absolute;
  left:1103px;
  top:265px;
  width:53px;
  height:182px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2117 {
  position:absolute;
  left:821px;
  top:180px;
  width:77px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u2118 {
  position:absolute;
  left:1095px;
  top:238px;
  width:71px;
  height:17px;
  text-decoration:underline;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2120 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122 {
  position:absolute;
  left:445px;
  top:200px;
  width:0px;
  height:0px;
}
#u2122_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u2122_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:100px;
  height:8px;
}
#u2122_seg2 {
  position:absolute;
  left:88px;
  top:6px;
  width:8px;
  height:28px;
}
#u2122_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u2122_seg4 {
  position:absolute;
  left:82px;
  top:-3px;
  width:20px;
  height:20px;
}
#u2123 {
  position:absolute;
  left:-7px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2125 {
  position:absolute;
  left:536px;
  top:199px;
  width:215px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2126 {
  position:absolute;
  left:5px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u2127 {
  position:absolute;
  left:536px;
  top:199px;
  width:1px;
  height:14px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129 {
  position:absolute;
  left:241px;
  top:306px;
  width:0px;
  height:0px;
}
#u2129_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:283px;
  height:8px;
}
#u2129_seg1 {
  position:absolute;
  left:275px;
  top:-4px;
  width:8px;
  height:32px;
}
#u2129_seg2 {
  position:absolute;
  left:275px;
  top:20px;
  width:25px;
  height:8px;
}
#u2129_seg3 {
  position:absolute;
  left:292px;
  top:-3px;
  width:8px;
  height:31px;
}
#u2129_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2129_seg5 {
  position:absolute;
  left:286px;
  top:-12px;
  width:20px;
  height:20px;
}
#u2130 {
  position:absolute;
  left:124px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2132 {
  position:absolute;
  left:536px;
  top:296px;
  width:123px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2133 {
  position:absolute;
  left:5px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u2134 {
  position:absolute;
  left:536px;
  top:296px;
  width:1px;
  height:14px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136 {
  position:absolute;
  left:135px;
  top:283px;
  width:0px;
  height:0px;
}
#u2136_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:271px;
}
#u2136_seg1 {
  position:absolute;
  left:-4px;
  top:263px;
  width:389px;
  height:8px;
}
#u2136_seg2 {
  position:absolute;
  left:377px;
  top:186px;
  width:8px;
  height:85px;
}
#u2136_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u2136_seg4 {
  position:absolute;
  left:371px;
  top:177px;
  width:20px;
  height:20px;
}
#u2137 {
  position:absolute;
  left:48px;
  top:259px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2139 {
  position:absolute;
  left:515px;
  top:397px;
  width:273px;
  height:338px;
  overflow:hidden;
}
#u2139_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:338px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2139_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2141 {
  position:absolute;
  left:5px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:318px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:33px;
  width:260px;
  height:318px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:151px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:144px;
}
#u2144 {
  position:absolute;
  left:515px;
  top:397px;
  width:1px;
  height:143px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
