body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2017px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1875px;
}
#u1621 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:1875px;
}
#u1622 {
  position:absolute;
  left:2px;
  top:930px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1623 {
  position:absolute;
  left:586px;
  top:100px;
  width:375px;
  height:667px;
}
#u1624 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1625 {
  position:absolute;
  left:596px;
  top:1308px;
  width:375px;
  height:667px;
}
#u1626 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1627 {
  position:absolute;
  left:1107px;
  top:1308px;
  width:375px;
  height:667px;
}
#u1628 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1629 {
  position:absolute;
  left:1642px;
  top:1308px;
  width:375px;
  height:667px;
}
#u1630 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1631 {
  position:absolute;
  left:596px;
  top:2067px;
  width:375px;
  height:667px;
}
#u1632 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1633 {
  position:absolute;
  left:432px;
  top:410px;
  width:0px;
  height:0px;
}
#u1633_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u1633_seg1 {
  position:absolute;
  left:-4px;
  top:76px;
  width:72px;
  height:8px;
}
#u1633_seg2 {
  position:absolute;
  left:60px;
  top:47px;
  width:8px;
  height:37px;
}
#u1633_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1633_seg4 {
  position:absolute;
  left:54px;
  top:38px;
  width:20px;
  height:20px;
}
#u1634 {
  position:absolute;
  left:-42px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1635 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1636 {
  position:absolute;
  left:495px;
  top:450px;
  width:123px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1637 {
  position:absolute;
  left:5px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1638 {
  position:absolute;
  left:495px;
  top:450px;
  width:1px;
  height:14px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
