body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u439 {
  position:absolute;
  left:56px;
  top:83px;
  width:375px;
  height:667px;
}
#u440 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441 {
  position:absolute;
  left:706px;
  top:102px;
  width:939px;
  height:715px;
}
#u442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u442 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u443 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u444 {
  position:absolute;
  left:227px;
  top:0px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u445 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:36px;
}
#u446 {
  position:absolute;
  left:0px;
  top:30px;
  width:227px;
  height:36px;
  font-size:14px;
}
#u447 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:36px;
}
#u448 {
  position:absolute;
  left:227px;
  top:30px;
  width:707px;
  height:36px;
  font-size:14px;
  text-align:left;
}
#u449 {
  position:absolute;
  left:2px;
  top:10px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u450 {
  position:absolute;
  left:0px;
  top:66px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u451 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u452 {
  position:absolute;
  left:227px;
  top:66px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u453 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:519px;
}
#u454 {
  position:absolute;
  left:0px;
  top:96px;
  width:227px;
  height:519px;
  font-size:14px;
}
#u455 {
  position:absolute;
  left:2px;
  top:252px;
  width:223px;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:519px;
}
#u456 {
  position:absolute;
  left:227px;
  top:96px;
  width:707px;
  height:519px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u457 {
  position:absolute;
  left:2px;
  top:2px;
  width:703px;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u458 {
  position:absolute;
  left:0px;
  top:615px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u459 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u460 {
  position:absolute;
  left:227px;
  top:615px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u461 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:30px;
}
#u462 {
  position:absolute;
  left:0px;
  top:645px;
  width:227px;
  height:30px;
  font-size:14px;
}
#u463 {
  position:absolute;
  left:2px;
  top:7px;
  width:223px;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u464 {
  position:absolute;
  left:227px;
  top:645px;
  width:707px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u465 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:35px;
}
#u466 {
  position:absolute;
  left:0px;
  top:675px;
  width:227px;
  height:35px;
  font-size:14px;
}
#u467 {
  position:absolute;
  left:2px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:35px;
}
#u468 {
  position:absolute;
  left:227px;
  top:675px;
  width:707px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u469 {
  position:absolute;
  left:2px;
  top:10px;
  width:703px;
  word-wrap:break-word;
}
#u470_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u470 {
  position:absolute;
  left:293px;
  top:207px;
  width:60px;
  height:60px;
}
#u471 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:121px;
}
#u472 {
  position:absolute;
  left:293px;
  top:267px;
  width:138px;
  height:121px;
  font-size:14px;
  color:#FF3399;
}
#u473 {
  position:absolute;
  left:2px;
  top:52px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
