body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2566px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:792px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4061 {
  position:absolute;
  left:800px;
  top:100px;
  width:376px;
  height:792px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:388px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:1093px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4064 {
  position:absolute;
  left:802px;
  top:102px;
  width:372px;
  height:1093px;
}
#u4065 {
  position:absolute;
  left:2px;
  top:538px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:968px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4066 {
  position:absolute;
  left:808px;
  top:172px;
  width:360px;
  height:968px;
}
#u4067 {
  position:absolute;
  left:2px;
  top:476px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4068 {
  position:absolute;
  left:904px;
  top:130px;
  width:168px;
  height:10px;
}
#u4069 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4070 {
  position:absolute;
  left:904px;
  top:1158px;
  width:168px;
  height:10px;
}
#u4071 {
  position:absolute;
  left:2px;
  top:-3px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 1px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u4074 {
  position:absolute;
  left:808px;
  top:172px;
  width:360px;
  height:56px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  word-wrap:break-word;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4076 {
  position:absolute;
  left:808px;
  top:180px;
  width:40px;
  height:40px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4078 {
  position:absolute;
  left:808px;
  top:172px;
  width:104px;
  height:56px;
}
#u4078_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4078.mouseDown {
}
#u4079 {
  position:absolute;
  left:2px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u4080 {
  position:absolute;
  left:822px;
  top:238px;
  width:72px;
  height:72px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u4082 {
  position:absolute;
  left:904px;
  top:238px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u4083 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u4084 {
  position:absolute;
  left:904px;
  top:267px;
  width:72px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u4085 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u4086 {
  position:absolute;
  left:953px;
  top:238px;
  width:40px;
  height:19px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u4088 {
  position:absolute;
  left:1003px;
  top:238px;
  width:58px;
  height:19px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:22px;
}
#u4090 {
  position:absolute;
  left:984px;
  top:265px;
  width:1px;
  height:21px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u4092 {
  position:absolute;
  left:995px;
  top:267px;
  width:89px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u4093 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4094 {
  position:absolute;
  left:904px;
  top:290px;
  width:60px;
  height:20px;
  font-size:11px;
}
#u4095 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4096 {
  position:absolute;
  left:970px;
  top:290px;
  width:60px;
  height:20px;
  font-size:11px;
}
#u4097 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u4098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4098 {
  position:absolute;
  left:1035px;
  top:290px;
  width:60px;
  height:20px;
  font-size:11px;
}
#u4099 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u4100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:64px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u4100 {
  position:absolute;
  left:816px;
  top:367px;
  width:344px;
  height:64px;
}
#u4101 {
  position:absolute;
  left:2px;
  top:24px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u4102 {
  position:absolute;
  left:831px;
  top:379px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u4103 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4104 {
  position:absolute;
  left:831px;
  top:403px;
  width:169px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:41px;
}
#u4106 {
  position:absolute;
  left:1080px;
  top:379px;
  width:58px;
  height:40px;
}
#u4107 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u4108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u4108 {
  position:absolute;
  left:1041px;
  top:379px;
  width:35px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8A8A8A;
}
#u4109 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u4110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:64px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u4110 {
  position:absolute;
  left:816px;
  top:441px;
  width:344px;
  height:64px;
}
#u4111 {
  position:absolute;
  left:2px;
  top:24px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u4113 {
  position:absolute;
  left:831px;
  top:453px;
  width:115px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2B2B2C;
}
#u4114 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u4115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#8A8A8A;
}
#u4115 {
  position:absolute;
  left:831px;
  top:477px;
  width:172px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#8A8A8A;
}
#u4116 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u4117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:41px;
}
#u4117 {
  position:absolute;
  left:1080px;
  top:453px;
  width:58px;
  height:40px;
}
#u4118 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4119 {
  position:absolute;
  left:821px;
  top:748px;
  width:29px;
  height:16px;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4121 {
  position:absolute;
  left:822px;
  top:769px;
}
#u4121_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4121_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:195px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u4122 {
  position:absolute;
  left:0px;
  top:7px;
  width:334px;
  height:195px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:90px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2B2B2C;
}
#u4124 {
  position:absolute;
  left:7px;
  top:15px;
  width:322px;
  height:123px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2B2B2C;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  word-wrap:break-word;
}
#u4126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:71px;
}
#u4127 {
  position:absolute;
  left:818px;
  top:515px;
  width:340px;
  height:70px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:27px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u4129 {
  position:absolute;
  left:825px;
  top:515px;
  width:66px;
  height:19px;
}
#u4130 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  word-wrap:break-word;
}
#u4131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4131 {
  position:absolute;
  left:965px;
  top:539px;
  width:49px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4132 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4133 {
  position:absolute;
  left:962px;
  top:564px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u4134 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4135 {
  position:absolute;
  left:1070px;
  top:534px;
  width:80px;
  height:33px;
}
#u4136 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u4138 {
  position:absolute;
  left:879px;
  top:620px;
  width:159px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u4139 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u4140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4140 {
  position:absolute;
  left:1108px;
  top:626px;
  width:43px;
  height:25px;
}
#u4141 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u4142 {
  position:absolute;
  left:828px;
  top:625px;
  width:37px;
  height:25px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u4144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4144 {
  position:absolute;
  left:942px;
  top:640px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u4145 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u4146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u4146 {
  position:absolute;
  left:985px;
  top:626px;
  width:55px;
  height:1px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u4149 {
  position:absolute;
  left:877px;
  top:661px;
  width:159px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u4150 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4151 {
  position:absolute;
  left:1106px;
  top:667px;
  width:43px;
  height:25px;
}
#u4152 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u4153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u4153 {
  position:absolute;
  left:826px;
  top:666px;
  width:37px;
  height:25px;
}
#u4154 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u4155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4155 {
  position:absolute;
  left:940px;
  top:681px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u4156 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u4157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u4157 {
  position:absolute;
  left:983px;
  top:667px;
  width:55px;
  height:1px;
}
#u4158 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u4160 {
  position:absolute;
  left:877px;
  top:703px;
  width:159px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u4161 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u4162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4162 {
  position:absolute;
  left:1106px;
  top:709px;
  width:43px;
  height:25px;
}
#u4163 {
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u4164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u4164 {
  position:absolute;
  left:826px;
  top:708px;
  width:37px;
  height:25px;
}
#u4165 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u4166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4166 {
  position:absolute;
  left:940px;
  top:723px;
  width:96px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u4167 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u4168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u4168 {
  position:absolute;
  left:983px;
  top:709px;
  width:55px;
  height:1px;
}
#u4169 {
  position:absolute;
  left:2px;
  top:-8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4170 {
  position:absolute;
  left:808px;
  top:1088px;
  width:360px;
  height:1px;
}
#u4171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:34px;
}
#u4172 {
  position:absolute;
  left:831px;
  top:1098px;
  width:326px;
  height:33px;
}
#u4173 {
  position:absolute;
  left:2px;
  top:8px;
  width:322px;
  word-wrap:break-word;
}
#u4174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4174 {
  position:absolute;
  left:808px;
  top:356px;
  width:360px;
  height:1px;
}
#u4175 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4176 {
  position:absolute;
  left:883px;
  top:328px;
  width:57px;
  height:16px;
}
#u4177 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4178 {
  position:absolute;
  left:1009px;
  top:328px;
  width:71px;
  height:16px;
}
#u4179 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4180_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:46px;
  height:5px;
}
#u4180 {
  position:absolute;
  left:890px;
  top:354px;
  width:43px;
  height:2px;
}
#u4181 {
  position:absolute;
  left:2px;
  top:-7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4182 {
  position:absolute;
  left:943px;
  top:1053px;
  width:216px;
  height:35px;
  opacity:0.5;
}
#u4183 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u4184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4184 {
  position:absolute;
  left:823px;
  top:595px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4185 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4186 {
  position:absolute;
  left:1066px;
  top:595px;
  width:90px;
  height:15px;
  font-size:12px;
}
#u4187 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u4188 {
  position:absolute;
  left:1147px;
  top:484px;
  width:0px;
  height:0px;
}
#u4188_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u4188_seg1 {
  position:absolute;
  left:99px;
  top:-4px;
  width:8px;
  height:234px;
}
#u4188_seg2 {
  position:absolute;
  left:99px;
  top:222px;
  width:25px;
  height:8px;
}
#u4188_seg3 {
  position:absolute;
  left:116px;
  top:204px;
  width:8px;
  height:26px;
}
#u4188_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4188_seg5 {
  position:absolute;
  left:110px;
  top:195px;
  width:20px;
  height:20px;
}
#u4189 {
  position:absolute;
  left:53px;
  top:73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4191 {
  position:absolute;
  left:1266px;
  top:681px;
  width:193px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4192 {
  position:absolute;
  left:5px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4193_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u4193 {
  position:absolute;
  left:1266px;
  top:681px;
  width:2px;
  height:14px;
}
#u4194 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195 {
  position:absolute;
  left:1139px;
  top:261px;
  width:0px;
  height:0px;
}
#u4195_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:132px;
  height:8px;
}
#u4195_seg1 {
  position:absolute;
  left:124px;
  top:-212px;
  width:8px;
  height:216px;
}
#u4195_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4195_seg3 {
  position:absolute;
  left:118px;
  top:-221px;
  width:20px;
  height:20px;
}
#u4196 {
  position:absolute;
  left:78px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
}
#u4198 {
  position:absolute;
  left:1266px;
  top:42px;
  width:755px;
  height:160px;
  font-size:14px;
}
#u4199 {
  position:absolute;
  left:5px;
  top:0px;
  width:745px;
  white-space:nowrap;
}
#u4200_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u4200 {
  position:absolute;
  left:1266px;
  top:42px;
  width:2px;
  height:14px;
}
#u4201 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4202 {
  position:absolute;
  left:1149px;
  top:405px;
  width:0px;
  height:0px;
}
#u4202_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u4202_seg1 {
  position:absolute;
  left:97px;
  top:-4px;
  width:8px;
  height:231px;
}
#u4202_seg2 {
  position:absolute;
  left:97px;
  top:219px;
  width:25px;
  height:8px;
}
#u4202_seg3 {
  position:absolute;
  left:114px;
  top:202px;
  width:8px;
  height:25px;
}
#u4202_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4202_seg5 {
  position:absolute;
  left:108px;
  top:193px;
  width:20px;
  height:20px;
}
#u4203 {
  position:absolute;
  left:51px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4205 {
  position:absolute;
  left:1266px;
  top:600px;
  width:457px;
  height:55px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4206 {
  position:absolute;
  left:5px;
  top:0px;
  width:447px;
  white-space:nowrap;
}
#u4207_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u4207 {
  position:absolute;
  left:1266px;
  top:600px;
  width:2px;
  height:14px;
}
#u4208 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4209 {
  position:absolute;
  left:1131px;
  top:628px;
  width:0px;
  height:0px;
}
#u4209_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u4209_seg1 {
  position:absolute;
  left:115px;
  top:-4px;
  width:8px;
  height:160px;
}
#u4209_seg2 {
  position:absolute;
  left:115px;
  top:148px;
  width:25px;
  height:8px;
}
#u4209_seg3 {
  position:absolute;
  left:132px;
  top:127px;
  width:8px;
  height:29px;
}
#u4209_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4209_seg5 {
  position:absolute;
  left:126px;
  top:118px;
  width:20px;
  height:20px;
}
#u4210 {
  position:absolute;
  left:69px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4212 {
  position:absolute;
  left:1266px;
  top:748px;
  width:697px;
  height:123px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4213 {
  position:absolute;
  left:5px;
  top:0px;
  width:687px;
  white-space:nowrap;
}
#u4214_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u4214 {
  position:absolute;
  left:1266px;
  top:748px;
  width:2px;
  height:14px;
}
#u4215 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4216 {
  position:absolute;
  left:1070px;
  top:341px;
  width:0px;
  height:0px;
}
#u4216_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:204px;
  height:8px;
}
#u4216_seg1 {
  position:absolute;
  left:196px;
  top:-4px;
  width:8px;
  height:47px;
}
#u4216_seg2 {
  position:absolute;
  left:196px;
  top:35px;
  width:27px;
  height:8px;
}
#u4216_seg3 {
  position:absolute;
  left:215px;
  top:22px;
  width:8px;
  height:21px;
}
#u4216_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4216_seg5 {
  position:absolute;
  left:209px;
  top:13px;
  width:20px;
  height:20px;
}
#u4217 {
  position:absolute;
  left:88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4219 {
  position:absolute;
  left:1288px;
  top:356px;
  width:179px;
  height:72px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4220 {
  position:absolute;
  left:5px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4221_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u4221 {
  position:absolute;
  left:1288px;
  top:356px;
  width:2px;
  height:14px;
}
#u4222 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4226 {
  position:absolute;
  left:1578px;
  top:238px;
  width:360px;
  height:319px;
}
#u4227 {
  position:absolute;
  left:2px;
  top:152px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4229 {
  position:absolute;
  left:1578px;
  top:352px;
  width:360px;
  height:1px;
}
#u4230 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u4231 {
  position:absolute;
  left:1637px;
  top:324px;
  width:43px;
  height:16px;
  color:#A1A1A1;
}
#u4232 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u4233 {
  position:absolute;
  left:1598px;
  top:317px;
  width:29px;
  height:29px;
}
#u4234 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4236 {
  position:absolute;
  left:1578px;
  top:301px;
  width:360px;
  height:1px;
}
#u4237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u4238 {
  position:absolute;
  left:1634px;
  top:272px;
  width:43px;
  height:16px;
  color:#A1A1A1;
}
#u4239 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u4240 {
  position:absolute;
  left:1598px;
  top:265px;
  width:29px;
  height:29px;
}
#u4241 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4243 {
  position:absolute;
  left:1578px;
  top:510px;
  width:360px;
  height:1px;
}
#u4244 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u4245 {
  position:absolute;
  left:1637px;
  top:481px;
  width:43px;
  height:16px;
  color:#A1A1A1;
}
#u4246 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u4247 {
  position:absolute;
  left:1598px;
  top:474px;
  width:29px;
  height:29px;
}
#u4248 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4250 {
  position:absolute;
  left:1578px;
  top:457px;
  width:360px;
  height:1px;
}
#u4251 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u4252 {
  position:absolute;
  left:1637px;
  top:428px;
  width:43px;
  height:16px;
  color:#A1A1A1;
}
#u4253 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u4254 {
  position:absolute;
  left:1598px;
  top:421px;
  width:29px;
  height:29px;
}
#u4255 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u4257 {
  position:absolute;
  left:1578px;
  top:405px;
  width:360px;
  height:1px;
}
#u4258 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u4259 {
  position:absolute;
  left:1637px;
  top:375px;
  width:43px;
  height:16px;
  color:#A1A1A1;
}
#u4260 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u4261 {
  position:absolute;
  left:1598px;
  top:370px;
  width:29px;
  height:29px;
}
#u4262 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4263 {
  position:absolute;
  left:1691px;
  top:272px;
  width:261px;
  height:13px;
  color:#666666;
}
#u4264 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u4265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4265 {
  position:absolute;
  left:1690px;
  top:324px;
  width:261px;
  height:13px;
  color:#666666;
}
#u4266 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u4267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4267 {
  position:absolute;
  left:1691px;
  top:372px;
  width:261px;
  height:13px;
  color:#666666;
}
#u4268 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u4269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4269 {
  position:absolute;
  left:1690px;
  top:424px;
  width:261px;
  height:13px;
  color:#666666;
}
#u4270 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u4271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4271 {
  position:absolute;
  left:1690px;
  top:480px;
  width:261px;
  height:13px;
  color:#666666;
}
#u4272 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u4273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4273 {
  position:absolute;
  left:1580px;
  top:251px;
  width:25px;
  height:25px;
}
#u4274 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4275 {
  position:absolute;
  left:1578px;
  top:304px;
  width:25px;
  height:25px;
}
#u4276 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4277 {
  position:absolute;
  left:1578px;
  top:356px;
  width:25px;
  height:25px;
}
#u4278 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4279 {
  position:absolute;
  left:1578px;
  top:409px;
  width:25px;
  height:25px;
}
#u4280 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4281 {
  position:absolute;
  left:1578px;
  top:460px;
  width:25px;
  height:25px;
}
#u4282 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u4283 {
  position:absolute;
  left:828px;
  top:620px;
  width:326px;
  height:118px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4284 {
  position:absolute;
  left:1140px;
  top:547px;
  width:0px;
  height:0px;
}
#u4284_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u4284_seg1 {
  position:absolute;
  left:145px;
  top:-14px;
  width:8px;
  height:18px;
}
#u4284_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4284_seg3 {
  position:absolute;
  left:139px;
  top:-23px;
  width:20px;
  height:20px;
}
#u4285 {
  position:absolute;
  left:32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4287 {
  position:absolute;
  left:1288px;
  top:526px;
  width:263px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4288 {
  position:absolute;
  left:5px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u4289 {
  position:absolute;
  left:1288px;
  top:526px;
  width:1px;
  height:14px;
}
#u4290 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4291 {
  position:absolute;
  left:808px;
  top:367px;
  width:360px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4292 {
  position:absolute;
  left:816px;
  top:441px;
  width:344px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4293 {
  position:absolute;
  left:831px;
  top:1098px;
  width:326px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4294 {
  position:absolute;
  left:1777px;
  top:320px;
  width:0px;
  height:0px;
}
#u4294_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u4294_seg1 {
  position:absolute;
  left:-4px;
  top:18px;
  width:211px;
  height:8px;
}
#u4294_seg2 {
  position:absolute;
  left:199px;
  top:18px;
  width:8px;
  height:26px;
}
#u4294_seg3 {
  position:absolute;
  left:199px;
  top:36px;
  width:24px;
  height:8px;
}
#u4294_seg4 {
  position:absolute;
  left:215px;
  top:22px;
  width:8px;
  height:22px;
}
#u4294_seg5 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4294_seg6 {
  position:absolute;
  left:209px;
  top:13px;
  width:20px;
  height:20px;
}
#u4295 {
  position:absolute;
  left:66px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4296 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4297 {
  position:absolute;
  left:1995px;
  top:335px;
  width:571px;
  height:208px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4298 {
  position:absolute;
  left:5px;
  top:0px;
  width:561px;
  white-space:nowrap;
}
#u4299_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:17px;
}
#u4299 {
  position:absolute;
  left:1995px;
  top:335px;
  width:2px;
  height:14px;
}
#u4300 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4301 {
  position:absolute;
  left:1150px;
  top:1082px;
  width:0px;
  height:0px;
}
#u4301_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u4301_seg1 {
  position:absolute;
  left:113px;
  top:-72px;
  width:8px;
  height:76px;
}
#u4301_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4301_seg3 {
  position:absolute;
  left:107px;
  top:-81px;
  width:20px;
  height:20px;
}
#u4302 {
  position:absolute;
  left:44px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4304 {
  position:absolute;
  left:1266px;
  top:1003px;
  width:551px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4305 {
  position:absolute;
  left:5px;
  top:0px;
  width:541px;
  white-space:nowrap;
}
#u4306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u4306 {
  position:absolute;
  left:1266px;
  top:1003px;
  width:1px;
  height:14px;
}
#u4307 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:892px;
}
#u4308 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:892px;
}
#u4309 {
  position:absolute;
  left:2px;
  top:438px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4310 {
  position:absolute;
  left:405px;
  top:294px;
  width:0px;
  height:0px;
}
#u4310_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u4310_seg1 {
  position:absolute;
  left:-4px;
  top:22px;
  width:129px;
  height:8px;
}
#u4310_seg2 {
  position:absolute;
  left:117px;
  top:2px;
  width:8px;
  height:28px;
}
#u4310_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4310_seg4 {
  position:absolute;
  left:111px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4311 {
  position:absolute;
  left:10px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4313 {
  position:absolute;
  left:525px;
  top:289px;
  width:183px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4314 {
  position:absolute;
  left:5px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u4315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u4315 {
  position:absolute;
  left:525px;
  top:289px;
  width:1px;
  height:14px;
}
#u4316 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4317 {
  position:absolute;
  left:386px;
  top:561px;
  width:0px;
  height:0px;
}
#u4317_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u4317_seg1 {
  position:absolute;
  left:-4px;
  top:35px;
  width:129px;
  height:8px;
}
#u4317_seg2 {
  position:absolute;
  left:117px;
  top:27px;
  width:8px;
  height:16px;
}
#u4317_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4317_seg4 {
  position:absolute;
  left:111px;
  top:18px;
  width:20px;
  height:20px;
}
#u4318 {
  position:absolute;
  left:-3px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4320 {
  position:absolute;
  left:506px;
  top:587px;
  width:291px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4321 {
  position:absolute;
  left:5px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u4322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u4322 {
  position:absolute;
  left:506px;
  top:587px;
  width:1px;
  height:1px;
}
#u4323 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
