body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1496px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:987px;
}
#u6087 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:987px;
}
#u6088 {
  position:absolute;
  left:2px;
  top:486px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1019px;
}
#u6089 {
  position:absolute;
  left:611px;
  top:100px;
  width:375px;
  height:1019px;
}
#u6090 {
  position:absolute;
  left:2px;
  top:502px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:948px;
}
#u6091 {
  position:absolute;
  left:1121px;
  top:100px;
  width:375px;
  height:948px;
}
#u6092 {
  position:absolute;
  left:2px;
  top:466px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6093 {
  position:absolute;
  left:943px;
  top:744px;
  width:0px;
  height:0px;
}
#u6093_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u6093_seg1 {
  position:absolute;
  left:23px;
  top:-4px;
  width:8px;
  height:124px;
}
#u6093_seg2 {
  position:absolute;
  left:23px;
  top:112px;
  width:19px;
  height:8px;
}
#u6093_seg3 {
  position:absolute;
  left:34px;
  top:88px;
  width:8px;
  height:32px;
}
#u6093_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6093_seg5 {
  position:absolute;
  left:28px;
  top:79px;
  width:20px;
  height:20px;
}
#u6094 {
  position:absolute;
  left:-23px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6096 {
  position:absolute;
  left:980px;
  top:825px;
  width:141px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6097 {
  position:absolute;
  left:5px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u6098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u6098 {
  position:absolute;
  left:980px;
  top:825px;
  width:1px;
  height:14px;
}
#u6099 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
