body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1887px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4223 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u4224 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4225 {
  position:absolute;
  left:571px;
  top:100px;
  width:375px;
  height:667px;
}
#u4226 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4227 {
  position:absolute;
  left:1041px;
  top:100px;
  width:375px;
  height:667px;
}
#u4228 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4229 {
  position:absolute;
  left:1512px;
  top:100px;
  width:375px;
  height:667px;
}
#u4230 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4231 {
  position:absolute;
  left:100px;
  top:959px;
  width:375px;
  height:667px;
}
#u4232 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4233 {
  position:absolute;
  left:595px;
  top:959px;
  width:375px;
  height:667px;
}
#u4234 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
