body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u31223 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u31224 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31225 {
  position:absolute;
  left:406px;
  top:268px;
  width:0px;
  height:0px;
}
#u31225_seg0 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:8px;
  height:17px;
}
#u31225_seg1 {
  position:absolute;
  left:-4px;
  top:-17px;
  width:163px;
  height:8px;
}
#u31225_seg2 {
  position:absolute;
  left:151px;
  top:-26px;
  width:8px;
  height:17px;
}
#u31225_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u31225_seg4 {
  position:absolute;
  left:145px;
  top:-35px;
  width:20px;
  height:20px;
}
#u31226 {
  position:absolute;
  left:28px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31228 {
  position:absolute;
  left:560px;
  top:235px;
  width:267px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31229 {
  position:absolute;
  left:5px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u31230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u31230 {
  position:absolute;
  left:560px;
  top:235px;
  width:1px;
  height:14px;
}
#u31231 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:178px;
}
#u31232 {
  position:absolute;
  left:560px;
  top:319px;
  width:400px;
  height:178px;
}
#u31233 {
  position:absolute;
  left:2px;
  top:81px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
