body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3014px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u31108 {
  position:absolute;
  left:537px;
  top:110px;
  width:375px;
  height:667px;
}
#u31109 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u31110 {
  position:absolute;
  left:1080px;
  top:110px;
  width:375px;
  height:667px;
}
#u31111 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u31112 {
  position:absolute;
  left:1585px;
  top:110px;
  width:375px;
  height:667px;
}
#u31113 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u31114 {
  position:absolute;
  left:2164px;
  top:110px;
  width:375px;
  height:667px;
}
#u31115 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u31116 {
  position:absolute;
  left:2639px;
  top:110px;
  width:375px;
  height:667px;
}
#u31117 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31118 {
  position:absolute;
  left:1765px;
  top:684px;
  width:0px;
  height:0px;
}
#u31118_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:160px;
}
#u31118_seg1 {
  position:absolute;
  left:-4px;
  top:152px;
  width:66px;
  height:8px;
}
#u31118_seg2 {
  position:absolute;
  left:54px;
  top:132px;
  width:8px;
  height:28px;
}
#u31118_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u31118_seg4 {
  position:absolute;
  left:48px;
  top:123px;
  width:20px;
  height:20px;
}
#u31119 {
  position:absolute;
  left:-50px;
  top:111px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31121 {
  position:absolute;
  left:1822px;
  top:809px;
  width:193px;
  height:55px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31122 {
  position:absolute;
  left:5px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u31123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u31123 {
  position:absolute;
  left:1822px;
  top:809px;
  width:1px;
  height:14px;
}
#u31124 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u31125 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u31126 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31127 {
  position:absolute;
  left:326px;
  top:423px;
  width:0px;
  height:0px;
}
#u31127_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:481px;
}
#u31127_seg1 {
  position:absolute;
  left:-4px;
  top:473px;
  width:118px;
  height:8px;
}
#u31127_seg2 {
  position:absolute;
  left:106px;
  top:452px;
  width:8px;
  height:29px;
}
#u31127_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u31127_seg4 {
  position:absolute;
  left:100px;
  top:443px;
  width:20px;
  height:20px;
}
#u31128 {
  position:absolute;
  left:-50px;
  top:298px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31130 {
  position:absolute;
  left:435px;
  top:868px;
  width:197px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31131 {
  position:absolute;
  left:5px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u31132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u31132 {
  position:absolute;
  left:435px;
  top:868px;
  width:1px;
  height:14px;
}
#u31133 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:51px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#000000;
}
#u31134 {
  position:absolute;
  left:857px;
  top:921px;
  width:183px;
  height:51px;
  font-size:14px;
  color:#000000;
}
#u31134_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:51px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#000000;
}
#u31134.mouseDown {
}
#u31135 {
  position:absolute;
  left:2px;
  top:18px;
  width:179px;
  word-wrap:break-word;
}
#u31136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:51px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#000000;
}
#u31136 {
  position:absolute;
  left:680px;
  top:921px;
  width:177px;
  height:51px;
  font-size:14px;
  color:#000000;
}
#u31136_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:51px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.149019607843137);
  font-size:14px;
  color:#000000;
}
#u31136.mouseDown {
}
#u31137 {
  position:absolute;
  left:2px;
  top:18px;
  width:173px;
  word-wrap:break-word;
}
#u31138 {
  position:absolute;
  left:288px;
  top:277px;
  width:0px;
  height:0px;
}
#u31138_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:627px;
}
#u31138_seg1 {
  position:absolute;
  left:-85px;
  top:619px;
  width:89px;
  height:8px;
}
#u31138_seg2 {
  position:absolute;
  left:-85px;
  top:591px;
  width:8px;
  height:36px;
}
#u31138_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u31138_seg4 {
  position:absolute;
  left:-91px;
  top:582px;
  width:20px;
  height:20px;
}
#u31139 {
  position:absolute;
  left:-50px;
  top:360px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31141 {
  position:absolute;
  left:206px;
  top:861px;
  width:105px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31142 {
  position:absolute;
  left:5px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u31143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u31143 {
  position:absolute;
  left:206px;
  top:861px;
  width:1px;
  height:14px;
}
#u31144 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31145 {
  position:absolute;
  left:905px;
  top:748px;
  width:0px;
  height:0px;
}
#u31145_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u31145_seg1 {
  position:absolute;
  left:-39px;
  top:78px;
  width:43px;
  height:8px;
}
#u31145_seg2 {
  position:absolute;
  left:-39px;
  top:78px;
  width:8px;
  height:58px;
}
#u31145_seg3 {
  position:absolute;
  left:-39px;
  top:128px;
  width:22px;
  height:8px;
}
#u31145_seg4 {
  position:absolute;
  left:-25px;
  top:106px;
  width:8px;
  height:30px;
}
#u31145_seg5 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u31145_seg6 {
  position:absolute;
  left:-31px;
  top:97px;
  width:20px;
  height:20px;
}
#u31146 {
  position:absolute;
  left:-72px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31148 {
  position:absolute;
  left:883px;
  top:847px;
  width:227px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31149 {
  position:absolute;
  left:5px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u31150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u31150 {
  position:absolute;
  left:883px;
  top:847px;
  width:1px;
  height:14px;
}
#u31151 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31152 {
  position:absolute;
  left:1380px;
  top:750px;
  width:0px;
  height:0px;
}
#u31152_seg0 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u31152_seg1 {
  position:absolute;
  left:-44px;
  top:-4px;
  width:8px;
  height:138px;
}
#u31152_seg2 {
  position:absolute;
  left:-44px;
  top:126px;
  width:27px;
  height:8px;
}
#u31152_seg3 {
  position:absolute;
  left:-25px;
  top:106px;
  width:8px;
  height:28px;
}
#u31152_seg4 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u31152_seg5 {
  position:absolute;
  left:-31px;
  top:97px;
  width:20px;
  height:20px;
}
#u31153 {
  position:absolute;
  left:-90px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31154 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31155 {
  position:absolute;
  left:1358px;
  top:849px;
  width:227px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31156 {
  position:absolute;
  left:5px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u31157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u31157 {
  position:absolute;
  left:1358px;
  top:849px;
  width:1px;
  height:14px;
}
#u31158 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31159 {
  position:absolute;
  left:1132px;
  top:531px;
  width:0px;
  height:0px;
}
#u31159_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:413px;
}
#u31159_seg1 {
  position:absolute;
  left:-4px;
  top:405px;
  width:235px;
  height:8px;
}
#u31159_seg2 {
  position:absolute;
  left:223px;
  top:380px;
  width:8px;
  height:33px;
}
#u31159_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u31159_seg4 {
  position:absolute;
  left:217px;
  top:371px;
  width:20px;
  height:20px;
}
#u31160 {
  position:absolute;
  left:-50px;
  top:324px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31162 {
  position:absolute;
  left:1358px;
  top:904px;
  width:207px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31163 {
  position:absolute;
  left:5px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u31164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u31164 {
  position:absolute;
  left:1358px;
  top:904px;
  width:1px;
  height:14px;
}
#u31165 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
