body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1886px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u232 {
  position:absolute;
  left:1041px;
  top:100px;
  width:375px;
  height:667px;
}
#u233 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u234 {
  position:absolute;
  left:1511px;
  top:100px;
  width:375px;
  height:667px;
}
#u235 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1236px;
}
#u236 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:1236px;
}
#u237 {
  position:absolute;
  left:2px;
  top:610px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u238 {
  position:absolute;
  left:566px;
  top:100px;
  width:375px;
  height:667px;
}
#u239 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
