body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1915px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u4418 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:845px;
}
#u4419 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u4420 {
  position:absolute;
  left:566px;
  top:100px;
  width:375px;
  height:845px;
}
#u4421 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4422 {
  position:absolute;
  left:1061px;
  top:100px;
  width:375px;
  height:667px;
}
#u4423 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:845px;
}
#u4424 {
  position:absolute;
  left:1540px;
  top:100px;
  width:375px;
  height:845px;
}
#u4425 {
  position:absolute;
  left:2px;
  top:414px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
