body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1641px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4501 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:667px;
}
#u4502 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4503 {
  position:absolute;
  left:583px;
  top:100px;
  width:375px;
  height:667px;
}
#u4504 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4505 {
  position:absolute;
  left:1080px;
  top:100px;
  width:375px;
  height:667px;
}
#u4506 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4507 {
  position:absolute;
  left:100px;
  top:1021px;
  width:375px;
  height:667px;
}
#u4508 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4509 {
  position:absolute;
  left:583px;
  top:1021px;
  width:375px;
  height:667px;
}
#u4510 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4511 {
  position:absolute;
  left:1080px;
  top:1021px;
  width:375px;
  height:667px;
}
#u4512 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:57px;
}
#u4513 {
  position:absolute;
  left:1465px;
  top:696px;
  width:176px;
  height:57px;
}
#u4514 {
  position:absolute;
  left:2px;
  top:20px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
